INSERT INTO `Team` (`id`,`name`,`shortname`,`stadium`,`founded`) VALUES (999,'Equipe inconnue', 'Inconnu','Stade inconnu', 1900);
 Valeur par défaut pour la table Team en cas de suppression ou d'absence d'équipe

In [8]:
import json
import pandas as pd
import numpy as np
import mysql.connector as connector
import datetime as dt
from mysql.connector import Error
from dotenv import dotenv_values
import os.path
import ast
import pymongo
import locale
import re

In [9]:
locale.setlocale(locale.LC_ALL, 'fr_FR.UTF-8')

'fr_FR.UTF-8'

In [43]:
config = dotenv_values('../.env')

In [3]:
df_teams_ligue2 = pd.read_json('../data/teams/ligue2_2022-2024.json', orient='index')
df_teams_ligue2.reset_index(inplace=True)

In [4]:
df_teams_ligue2.rename(columns={ 'index' : 'name' }, inplace=True)
df_teams_ligue2

,name,fondation,stade,shortname
0,Le Havre Athletic Club (football),1884,Stade Océane,Le Havre AC
1,Football Club de Metz,1919,Stade Saint-Symphorien,FC Metz
2,Football Club des Girondins de Bordeaux,1920,Bordeaux Atlantique,Girondins de Bordeaux
3,Stade Malherbe Caen,1913,Stade Michel-d'Ornano,SM Caen
4,En avant de Guingamp,1912,Stade de Roudourou,EA Guingamp
5,Paris Football Club,1969,Stade Charléty,Paris FC
6,Association sportive de Saint-Étienne,1919,Stade Geoffroy-Guichard,AS Saint-Étienne
7,Football Club Sochaux-Montbéliard,1928,Stade Auguste-Bonal,FC Sochaux-Montbéliard
8,Grenoble Foot 38,1911,Stade des Alpes,Grenoble Foot 38
9,Union sportive Quevilly Rouen Métropole,1902,Stade Robert-Diochon,US Quevilly-Rouen
10,Amiens Sporting Club,1901,Stade de la Licorne,Amiens SC
11,Pau Football Club,1959,Nouste Camp,Pau FC
12,Rodez Aveyron Football,1929,Stade Paul-Lignon,Rodez AF
13,Stade lavallois Mayenne Football Club,1902,Stade Francis-Le-Basser,Stade lavallois
14,Valenciennes Football Club,1913,Stade du Hainaut,Valenciennes FC
15,Football Club d'Annecy,1927,Parc des Sports d'Annecy,FC Annecy
16,Dijon Football Côte-d'Or,1998,Stade Gaston-Gérard,Dijon FCO
17,Nîmes Olympique,1937,Stade des Antonins,Nîmes Olympique
18,Chamois niortais Football Club,1925,Stade René-Gaillard[2],Chamois niortais FC
19,Association de la jeunesse auxerroise,1905,Stade de l'Abbé-Deschamps,AJ Auxerre
20,Angers Sporting Club de l'Ouest,1919,Stade Raymond-Kopa,Angers SCO
21,Sporting Club de Bastia,1905,Stade Armand-Cesari,SC Bastia
22,Athletic Club ajaccien,1910,Stade Michel-Moretti,AC Ajaccio
23,Union sportive du littoral de Dunkerque,1919,Stade Marcel-Tribut,USL Dunkerque
24,Espérance sportive Troyes Aube Champagne,1986,Stade de l'Aube,ESTAC Troyes
25,Union sportive concarnoise,1911,Stade Guy-Piriou,US Concarneau
26,Football Club de Lorient,1926,Stade du Moustoir,FC Lorient
27,Clermont Foot 63,1984,Stade Gabriel-Montpied,Clermont Foot 63
28,Red Star Football Club,1897,Stade Bauer,Red Star FC
29,Football Club de Martigues,1921,Stade Francis Turcan,FC Martigues

In [5]:
df_teams_ligue2['name'] = df_teams_ligue2['name'].str.replace(r' \((.*)\)', "", regex=True)
df_teams_ligue2['stade'] = df_teams_ligue2['stade'].str.replace(r'\[(.*)\]', "", regex=True)

df_teams_ligue2

,name,fondation,stade,shortname
0,Le Havre Athletic Club,1884,Stade Océane,Le Havre AC
1,Football Club de Metz,1919,Stade Saint-Symphorien,FC Metz
2,Football Club des Girondins de Bordeaux,1920,Bordeaux Atlantique,Girondins de Bordeaux
3,Stade Malherbe Caen,1913,Stade Michel-d'Ornano,SM Caen
4,En avant de Guingamp,1912,Stade de Roudourou,EA Guingamp
5,Paris Football Club,1969,Stade Charléty,Paris FC
6,Association sportive de Saint-Étienne,1919,Stade Geoffroy-Guichard,AS Saint-Étienne
7,Football Club Sochaux-Montbéliard,1928,Stade Auguste-Bonal,FC Sochaux-Montbéliard
8,Grenoble Foot 38,1911,Stade des Alpes,Grenoble Foot 38
9,Union sportive Quevilly Rouen Métropole,1902,Stade Robert-Diochon,US Quevilly-Rouen
10,Amiens Sporting Club,1901,Stade de la Licorne,Amiens SC
11,Pau Football Club,1959,Nouste Camp,Pau FC
12,Rodez Aveyron Football,1929,Stade Paul-Lignon,Rodez AF
13,Stade lavallois Mayenne Football Club,1902,Stade Francis-Le-Basser,Stade lavallois
14,Valenciennes Football Club,1913,Stade du Hainaut,Valenciennes FC
15,Football Club d'Annecy,1927,Parc des Sports d'Annecy,FC Annecy
16,Dijon Football Côte-d'Or,1998,Stade Gaston-Gérard,Dijon FCO
17,Nîmes Olympique,1937,Stade des Antonins,Nîmes Olympique
18,Chamois niortais Football Club,1925,Stade René-Gaillard,Chamois niortais FC
19,Association de la jeunesse auxerroise,1905,Stade de l'Abbé-Deschamps,AJ Auxerre
20,Angers Sporting Club de l'Ouest,1919,Stade Raymond-Kopa,Angers SCO
21,Sporting Club de Bastia,1905,Stade Armand-Cesari,SC Bastia
22,Athletic Club ajaccien,1910,Stade Michel-Moretti,AC Ajaccio
23,Union sportive du littoral de Dunkerque,1919,Stade Marcel-Tribut,USL Dunkerque
24,Espérance sportive Troyes Aube Champagne,1986,Stade de l'Aube,ESTAC Troyes
25,Union sportive concarnoise,1911,Stade Guy-Piriou,US Concarneau
26,Football Club de Lorient,1926,Stade du Moustoir,FC Lorient
27,Clermont Foot 63,1984,Stade Gabriel-Montpied,Clermont Foot 63
28,Red Star Football Club,1897,Stade Bauer,Red Star FC
29,Football Club de Martigues,1921,Stade Francis Turcan,FC Martigues

In [6]:
df_teams_ligue2.dtypes

name         object
fondation     int64
stade        object
shortname    object
dtype: object

In [8]:
team_names = []
team_shortnames = []
team_founded = []
team_stadium = []
team_coaches = []
team_players = []

for i in range(11, 77):
    if os.path.isfile(f"../data/teams/team-5{i}.json"):
        with open(f'../data/teams/team-5{i}.json', 'r') as file:
            data = json.load(file)
            if 'errorCode' not in data:
                if data['shortName'] not in ['Le Havre', 'Saint-Étienne', 'Auxerre', 'Angers SCO']:
                    team_names.append(data['name'])
                    team_shortnames.append(data['shortName'])
                    team_founded.append(data['founded'])
                    team_stadium.append(data['venue'])
                    team_coaches.append(data['coach'])
                    team_players.append(data['squad'])

In [9]:
try:
    cnx = connector.connect(host='localhost',
                            database='football_predictor',
                            user=config['MYSQL_USER'],
                            password=config['MYSQL_PASSWORD'],
                            )
    if cnx.is_connected():
        print('Connecté à la base MySQL')
        cursor = cnx.cursor()
        # Chargement des données dans la base données SQL
        for i in range(len(team_names)):
            add_team_ligue1 = ( "INSERT INTO `Team` (name, shortname, stadium, founded) "
                                f"VALUES (\"{team_names[i]}\", \"{team_shortnames[i]}\", \"{team_stadium[i]}\", {team_founded[i]})" )
            cursor.execute(add_team_ligue1)
        for index, row in df_teams_ligue2.iterrows():
            add_team_ligue2 = ( "INSERT INTO `Team` (name, shortname, stadium, founded) "
                                f"VALUES (\"{row['name']}\", \"{row['shortname']}\", \"{row['stade']}\", {row['fondation']})" )
            cursor.execute(add_team_ligue2)
        cnx.commit()
except Error as e:
    cnx.close()
    print("Erreur lors de la connexion à la base MySQL :", e)
finally:
    if cnx.is_connected():
        cnx.close()
        print('Connexion à la base MySQL fermée')

Connecté à la base MySQL
Connexion à la base MySQL fermée

In [14]:
df_coaches_ligue2 = pd.read_json('../data/teams/coaches_ligue2_2022-2024.json', orient='index')
df_coaches_ligue2.reset_index(inplace=True)
df_coaches_ligue2

,index,surname,name,birthdate,nationality
0,Le Havre Athletic Club (football),Didier,Digard,1986-07-12,Française
1,Football Club de Metz,Stéphane,Le Mignan,1974-06-04,Français
2,Football Club des Girondins de Bordeaux,Bruno,Irles,1975-08-16,Française
3,Stade Malherbe Caen,Bruno,Baltazar,1977-07-06,Portugaise
4,En avant de Guingamp,Sylvain,Ripoll,1971-08-15,Français
5,Paris Football Club,Stéphane,Gilli,1974-04-30,Français
6,Association sportive de Saint-Étienne,Eirik,Horneland,1975-03-14,Norvégienne
7,Football Club Sochaux-Montbéliard,Frédéric,Bompard,1962-12-30,Français
8,Grenoble Foot 38,Franck,Rizzetto,1971-03-29,Français
9,Union sportive Quevilly Rouen Métropole,David,Carré,1971-03-29,Français
10,Amiens Sporting Club,Omar,Daf,1977-02-12,Sénégalaise Française
11,Pau Football Club,Nicolas,Usaï,1974-05-01,Français
12,Rodez Aveyron Football,Didier,Santini,1968-09-07,Français
13,Stade lavallois Mayenne Football Club,Olivier,Frapolli,1971-09-27,Française
14,Valenciennes Football Club,Vincent,Hognon,1974-08-16,Français
15,Football Club d'Annecy,Laurent,Guyot,1969-12-17,Français
16,Dijon Football Côte-d'Or,Baptiste,Ridira,1969-12-17,Français
17,Nîmes Olympique,Adil,Hermach,1986-06-27,Française Marocaine
18,Chamois niortais Football Club,Damien,Charron,1986-06-27,Française Marocaine
19,Association de la jeunesse auxerroise,Christophe,Pélissier,1965-10-05,Française
20,Angers Sporting Club de l'Ouest,Alexandre,Dujeux,1976-01-08,Française
21,Sporting Club de Bastia,Benoît,Tavenot,1977-01-03,Française
22,Athletic Club ajaccien,Thierry,Debès,1974-01-03,Français
23,Union sportive du littoral de Dunkerque,Luís,Castro,1980-05-07,Portugais
24,Espérance sportive Troyes Aube Champagne,Stéphane,Dumont,1982-09-06,Française
25,Union sportive concarnoise,Stéphane,Rossi,1964-03-23,Français
26,Football Club de Lorient,Olivier,Pantaloni,1966-12-13,Français
27,Clermont Foot 63,Laurent,Batlles,1975-09-23,Français
28,Red Star Football Club,Grégory,Poirier,1982-07-09,Française
29,Football Club de Martigues,Hakim,Malek,1972-04-04,Française/Algérienne

In [15]:
def nationality_formatter(nationality):
    dictionnary = { 'Français' : 'France',
                'Française' : 'France',
                'Sénégalaise' : 'Senegal',
                'Portugaise' : 'Portugal',
                'Portugais' : 'Portugal',
                'Marocaine' : 'Morocco',
                'Norvégienne' : 'Norway',
                'Algérienne' : 'Algeria' }
    nat_list = []
    for nat in nationality.split(' '):
        nat_list.append(dictionnary[nat])
    if len(nat_list) > 1 :
        nationality_formatted = ' '.join(nation for nation in nat_list)
    else:
        nationality_formatted = nat_list[0]
    return nationality_formatted

In [16]:
df_coaches_ligue2['nationality'] = df_coaches_ligue2['nationality'].apply(lambda x: str(x).replace(u'\xa0', u''))
df_coaches_ligue2['nationality'] = df_coaches_ligue2['nationality'].apply(lambda x: str(x).replace(u'/', u' '))
df_coaches_ligue2['nationality'] = df_coaches_ligue2['nationality'].apply(nationality_formatter)

In [17]:
df_coaches_ligue2['index'] = df_coaches_ligue2['index'].str.replace(r' \((.*)\)', "", regex=True)
df_coaches_ligue2

,index,surname,name,birthdate,nationality
0,Le Havre Athletic Club,Didier,Digard,1986-07-12,France
1,Football Club de Metz,Stéphane,Le Mignan,1974-06-04,France
2,Football Club des Girondins de Bordeaux,Bruno,Irles,1975-08-16,France
3,Stade Malherbe Caen,Bruno,Baltazar,1977-07-06,Portugal
4,En avant de Guingamp,Sylvain,Ripoll,1971-08-15,France
5,Paris Football Club,Stéphane,Gilli,1974-04-30,France
6,Association sportive de Saint-Étienne,Eirik,Horneland,1975-03-14,Norway
7,Football Club Sochaux-Montbéliard,Frédéric,Bompard,1962-12-30,France
8,Grenoble Foot 38,Franck,Rizzetto,1971-03-29,France
9,Union sportive Quevilly Rouen Métropole,David,Carré,1971-03-29,France
10,Amiens Sporting Club,Omar,Daf,1977-02-12,Senegal France
11,Pau Football Club,Nicolas,Usaï,1974-05-01,France
12,Rodez Aveyron Football,Didier,Santini,1968-09-07,France
13,Stade lavallois Mayenne Football Club,Olivier,Frapolli,1971-09-27,France
14,Valenciennes Football Club,Vincent,Hognon,1974-08-16,France
15,Football Club d'Annecy,Laurent,Guyot,1969-12-17,France
16,Dijon Football Côte-d'Or,Baptiste,Ridira,1969-12-17,France
17,Nîmes Olympique,Adil,Hermach,1986-06-27,France Morocco
18,Chamois niortais Football Club,Damien,Charron,1986-06-27,France Morocco
19,Association de la jeunesse auxerroise,Christophe,Pélissier,1965-10-05,France
20,Angers Sporting Club de l'Ouest,Alexandre,Dujeux,1976-01-08,France
21,Sporting Club de Bastia,Benoît,Tavenot,1977-01-03,France
22,Athletic Club ajaccien,Thierry,Debès,1974-01-03,France
23,Union sportive du littoral de Dunkerque,Luís,Castro,1980-05-07,Portugal
24,Espérance sportive Troyes Aube Champagne,Stéphane,Dumont,1982-09-06,France
25,Union sportive concarnoise,Stéphane,Rossi,1964-03-23,France
26,Football Club de Lorient,Olivier,Pantaloni,1966-12-13,France
27,Clermont Foot 63,Laurent,Batlles,1975-09-23,France
28,Red Star Football Club,Grégory,Poirier,1982-07-09,France
29,Football Club de Martigues,Hakim,Malek,1972-04-04,France Algeria

In [18]:
team_coaches

[{'id': 210420,
  'firstName': '',
  'lastName': 'Carles Martínez',
  'name': 'Carles Martínez',
  'dateOfBirth': '1984-01-01',
  'nationality': 'Spain',
  'contract': {'start': '2023-07', 'until': '2025-06'}},
 {'id': 190990,
  'firstName': 'Éric',
  'lastName': 'Roy',
  'name': 'Eric Roy',
  'dateOfBirth': '1967-09-26',
  'nationality': 'France',
  'contract': {'start': '2023-01', 'until': '2025-06'}},
 {'id': 11109,
  'firstName': 'Roberto',
  'lastName': 'De Zerbi',
  'name': 'Roberto De Zerbi',
  'dateOfBirth': '1979-06-06',
  'nationality': 'Italy',
  'contract': {'start': '2024-07', 'until': '2027-06'}},
 {'id': 45105,
  'firstName': 'Jean-Louis',
  'lastName': 'Gasset',
  'name': 'Jean-Louis Gasset',
  'dateOfBirth': '1953-12-09',
  'nationality': 'France',
  'contract': {'start': '2024-10', 'until': '2025-06'}},
 {'id': 45101,
  'firstName': 'Bruno',
  'lastName': 'Génésio',
  'name': 'Bruno Génésio',
  'dateOfBirth': '1966-09-01',
  'nationality': 'France',
  'contract': {'start': '2024-07', 'until': '2026-06'}},
 {'id': 142508,
  'firstName': 'Franck',
  'lastName': 'Haise',
  'name': 'Franck Haise',
  'dateOfBirth': '1971-04-15',
  'nationality': 'France',
  'contract': {'start': '2024-07', 'until': '2027-06'}},
 {'id': 16490,
  'firstName': '',
  'lastName': 'Paulo Fonseca',
  'name': 'Paulo Fonseca',
  'dateOfBirth': '1973-03-05',
  'nationality': 'Portugal',
  'contract': {'start': '2025-01', 'until': '2027-06'}},
 {'id': 15874,
  'firstName': '',
  'lastName': 'Luis Enrique',
  'name': 'Luis Enrique',
  'dateOfBirth': '1970-05-08',
  'nationality': 'Spain',
  'contract': {'start': '2023-07', 'until': '2025-06'}},
 {'id': 173649,
  'firstName': 'Habib',
  'lastName': 'Bèye',
  'name': 'Habib Beye',
  'dateOfBirth': '1977-10-19',
  'nationality': 'Senegal',
  'contract': {'start': '2025-01', 'until': '2025-06'}},
 {'id': 45117,
  'firstName': 'Antoine',
  'lastName': 'Kombouaré',
  'name': 'Antoine Kombouare',
  'dateOfBirth': '1963-11-16',
  'nationality': 'France',
  'contract': {'start': '2024-03', 'until': '2025-06'}},
 {'id': 17121,
  'firstName': 'Will',
  'lastName': 'Still',
  'name': 'Will Still',
  'dateOfBirth': '1992-10-14',
  'nationality': 'Belgium',
  'contract': {'start': '2024-07', 'until': '2027-06'}},
 {'id': 76693,
  'firstName': 'Luka',
  'lastName': 'Elsner',
  'name': 'Luka Elsner',
  'dateOfBirth': '1982-08-02',
  'nationality': 'Slovenia',
  'contract': {'start': '2024-07', 'until': '2026-06'}},
 {'id': 16283,
  'firstName': 'Adi',
  'lastName': 'Hütter',
  'name': 'Adi Hütter',
  'dateOfBirth': '1970-11-02',
  'nationality': 'Austria',
  'contract': {'start': '2023-07', 'until': '2027-06'}},
 {'id': 8262,
  'firstName': 'Liam',
  'lastName': 'Rosenior',
  'name': 'Liam Rosenior',
  'dateOfBirth': '1984-07-09',
  'nationality': 'England',
  'contract': {'start': '2024-07', 'until': '2027-06'}}]

In [19]:
def dataframe_tuple_deserialize(string : str, param : int):
    tuple_string = ast.literal_eval(string)
    return tuple_string[param]

In [20]:
def correct_nationality(string : str):
    if string == "C%C3%B4te d%27Ivoire" :
        return 'Ivory Coast'
    elif string == "the Democratic Republic of the Congo" :
        return 'DR Congo'
    elif string == "the Republic of the Congo":
        return 'Congo'
    else:
        return string

In [21]:
df_list = []
for team in df_coaches_ligue2['index']:
    df_players_test = pd.read_csv(f'../data/teams/team-{team.replace(' ', '_')}.csv')
    df_players_test = df_players_test[df_players_test.columns[2:6]]
    df_players_test.dropna(inplace=True)
    df_players_test = df_players_test[df_players_test['Nom'] != "('', None)"]
    # Colonne Poste (P.)
    df_players_test[df_players_test.columns[0]] = df_players_test[df_players_test.columns[0]].apply(dataframe_tuple_deserialize, args=(0,))
    dictionnaire_poste = { 'G' : 'Gardien', 'D' : 'Defenseur', 'M' : 'Milieu', 'A' : 'Attaquant'}
    df_players_test[df_players_test.columns[0]] = df_players_test[df_players_test.columns[0]].replace(dictionnaire_poste)
    # Colonne Nationality
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].apply(dataframe_tuple_deserialize, args=(1,))
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].apply(lambda x : x.split('Flag_of_', 1)[1])
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].str.replace(r'_\((.*)\)', "", regex=True)
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].str.replace(".svg", "")
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].str.replace("_", " ")
    df_players_test[df_players_test.columns[1]] = df_players_test[df_players_test.columns[1]].apply(correct_nationality)
    # Colonne Nom
    df_players_test[df_players_test.columns[2]] = df_players_test[df_players_test.columns[2]].apply(dataframe_tuple_deserialize, args=(0,))
    df_players_test[['Prénom', 'Nom']] = df_players_test['Nom'].str.split(' ', n=1, expand=True)
    # Colonne Date de naissance
    df_players_test[df_players_test.columns[3]] = df_players_test[df_players_test.columns[3]].apply(dataframe_tuple_deserialize, args=(0,))
    df_players_test[df_players_test.columns[3]] = df_players_test[df_players_test.columns[3]].str.replace(r'\xa0\((.*)\)', "", regex=True)
    df_players_test[df_players_test.columns[3]] = pd.to_datetime(df_players_test[df_players_test.columns[3]], format="%d/%m/%Y")
    # Colonne equipe
    df_players_test['Equipe'] = team
    df_list.append(df_players_test)
df_list

[           P.    Nat.[153]            Nom Date de naissance     Prénom  \
 0     Gardien       France       Gorgelin        1990-08-05    Mathieu
 1     Gardien       France         Desmas        1994-04-07     Arthur
 3   Defenseur       France         Lloris        1995-07-18    Gautier
 4   Defenseur       France  Youté Kinkoué        2002-01-14    Étienne
 5   Defenseur      Hungary           Nego        1991-01-15       Loïc
 6   Defenseur       France         Bodmer        2004-05-06     Mathéo
 7   Defenseur      Morocco      El Hajjam        1991-02-19     Oualid
 8   Defenseur       France        Zouaoui        1998-04-28      Yanis
 9   Defenseur       France        Pembélé        2002-09-09   Timothée
 10  Defenseur      Senegal       Sangante        2002-04-12     Arouna
 11  Defenseur      Senegal    Ballo-Touré        1997-01-03       Fodé
 13     Milieu      Morocco         Kechta        2002-02-25    Yassine
 14     Milieu       Russia        Kuzyaev        1993-01-15      Daler
 15     Milieu      Senegal         Ndiaye        2001-12-11    Rassoul
 16     Milieu       France         Mwanga        2003-05-11     Junior
 17     Milieu       France        Zohouri        2007-02-01   Guy-Noël
 18     Milieu       France        Confais        1996-09-07      Aloïs
 19     Milieu       France        Diawara        2005-02-17  Mahamadou
 20     Milieu       France         Bouneb        2006-06-07     Ismail
 21     Milieu       France        Mosengo        2006-08-11      Daren
 22     Milieu       Guinea          Touré        1994-03-03  Abdoulaye
 24  Attaquant     DR Congo         Kitala        1998-04-09       Yann
 25  Attaquant       France        Casimir        2001-09-24      Josué
 26  Attaquant       France          Logbo        2004-05-06     Élysée
 27  Attaquant       France         Joujou        2003-03-12    Antoine
 28  Attaquant        Ghana           Ayew        1989-12-17      André
 29  Attaquant      Senegal        Soumaré        2000-10-10       Issa
 30  Attaquant      Morocco         Housni        2005-05-14      Ilyes
 31  Attaquant  Switzerland         Londja        2006-06-10      Ruben
 32  Attaquant        Egypt         Hassan        1993-03-05      Ahmed
 33  Attaquant       France          Bamba        2005-09-16        Ben

                     Equipe
 0   Le Havre Athletic Club
 1   Le Havre Athletic Club
 3   Le Havre Athletic Club
 4   Le Havre Athletic Club
 5   Le Havre Athletic Club
 6   Le Havre Athletic Club
 7   Le Havre Athletic Club
 8   Le Havre Athletic Club
 9   Le Havre Athletic Club
 10  Le Havre Athletic Club
 11  Le Havre Athletic Club
 13  Le Havre Athletic Club
 14  Le Havre Athletic Club
 15  Le Havre Athletic Club
 16  Le Havre Athletic Club
 17  Le Havre Athletic Club
 18  Le Havre Athletic Club
 19  Le Havre Athletic Club
 20  Le Havre Athletic Club
 21  Le Havre Athletic Club
 22  Le Havre Athletic Club
 24  Le Havre Athletic Club
 25  Le Havre Athletic Club
 26  Le Havre Athletic Club
 27  Le Havre Athletic Club
 28  Le Havre Athletic Club
 29  Le Havre Athletic Club
 30  Le Havre Athletic Club
 31  Le Havre Athletic Club
 32  Le Havre Athletic Club
 33  Le Havre Athletic Club  ,
            P. Nat.[note 9]              Nom Date de naissance       Prénom  \
 0     Gardien      Algeria          Oukidja        1988-07-19    Alexandre
 1     Gardien      Belgium           Bodart        1998-03-11       Arnaud
 2     Gardien      Senegal       Mamadou Sy        1997-05-02         Pape
 4   Defenseur       France            Colin        1991-11-15       Maxime
 5   Defenseur       France             Udol        1996-03-20     Matthieu
 6   Defenseur        Gabon           Mboula        2003-04-30  Urie-Michel
 7   Defenseur  Ivory Coast           Traoré        1986-08-18       Ismaël
 8   Defenseur      Senegal               Lô        2000-01-02    Aboubacar
 9   Defenseur      Algeria  Van Den Kerkhof        1996-03-14        Kévin
 10  Defenseur      Senegal             Sané        2004-06-10      Sadibou
 11  Defenseur  Ivory Coast            Kouao        1998-05-20        Koffi
 12  Defenseur       France         Divialle        2004-02-09      Charles
 14     Milieu       France         Nduquidi        2004-10-31       Joseph
 15     Milieu       France             Hein        1996-08-07     Gauthier
 16     Milieu      Senegal            Touré        2006-01-25        Alpha
 17     Milieu      Senegal           Sabaly        1998-03-04       Cheikh
 18     Milieu       France          Raillot        2004-05-16       Lilian
 19     Milieu       France        Deminguet        1998-01-07        Jessy
 20     Milieu       France        Stambouli        1990-09-13     Benjamin
 21     Milieu   The Gambia           Jallow        1998-11-14        Ablie
 23  Attaquant      Senegal             Sané        2005-03-28         Ibou
 24  Attaquant      Senegal    Amadou Diallo        2004-06-25         Pape
 25  Attaquant      Senegal            Gueye        2006-09-16      Idrissa
 26  Attaquant     Cameroon           Bokele        2004-03-13       Morgan
 27  Attaquant       France     Soumah-Abbad        2003-03-31      Édouard
 28  Attaquant       France         Mangondo        2005-08-06       Joseph
 29  Attaquant       Sweden            Asoro        1999-04-27         Joel

                    Equipe
 0   Football Club de Metz
 1   Football Club de Metz
 2   Football Club de Metz
 4   Football Club de Metz
 5   Football Club de Metz
 6   Football Club de Metz
 7   Football Club de Metz
 8   Football Club de Metz
 9   Football Club de Metz
 10  Football Club de Metz
 11  Football Club de Metz
 12  Football Club de Metz
 14  Football Club de Metz
 15  Football Club de Metz
 16  Football Club de Metz
 17  Football Club de Metz
 18  Football Club de Metz
 19  Football Club de Metz
 20  Football Club de Metz
 21  Football Club de Metz
 23  Football Club de Metz
 24  Football Club de Metz
 25  Football Club de Metz
 26  Football Club de Metz
 27  Football Club de Metz
 28  Football Club de Metz
 29  Football Club de Metz  ,
            P.                  Nat.[Note 3]            Nom Date de naissance  \
 0     Gardien                        France        Diabaté        2003-08-21
 1     Gardien                        France        Grimaud        2006-08-26
 3   Defenseur                        France         Fofana        1990-07-12
 4   Defenseur                        France            Bai        1999-02-14
 5   Defenseur  the Central African Republic        Yambéré        1990-11-06
 6   Defenseur                        France        Grillot        2005-11-20
 7   Defenseur                         Benin        Assogba        2001-08-21
 8   Defenseur                       Senegal           Diaw        1994-12-31
 9   Defenseur                        France          Ranem        2002-09-20
 10  Defenseur                        France       Trichard        1995-03-27
 12     Milieu                        France        Bahassa        1994-07-08
 13     Milieu                   Ivory Coast         Thomas        1999-07-01
 14     Milieu                        France          Diaby        1998-11-30
 15     Milieu                       Tunisia     Ben Khemis        1996-01-10
 16     Milieu                        France        Louveau        2000-02-01
 17     Milieu                        France       Depussay        2001-10-27
 19  Attaquant                       England        Carroll        1989-01-06
 20  Attaquant                        France         Merdji        1993-10-29
 21  Attaquant                       England         Amadou        2003-02-15
 22  Attaquant                   Ivory Coast         Beugre        2000-12-12
 23  Attaquant                        Uganda        Mutyaba        2005-08-07
 24  Attaquant               the Netherlands          Karim        2004-07-18
 25  Attaquant                        France      Ikia Dimi        2004-09-26
 26  Attaquant                       Senegal  Massar Djitté        2003-02-08

        Prénom                                   Equipe
 0     Lassana  Football Club des Girondins de Bordeaux
 1     Georges  Football Club des Girondins de Bordeaux
 3        Nama  Football Club des Girondins de Bordeaux
 4   Nathanaël  Football Club des Girondins de Bordeaux
 5      Cédric  Football Club des Girondins de Bordeaux
 6        Jean  Football Club des Girondins de Bordeaux
 7    Youssouf  Football Club des Girondins de Bordeaux
 8     Djibril  Football Club des Girondins de Bordeaux
 9      Nassim  Football Club des Girondins de Bordeaux
 10      Driss  Football Club des Girondins de Bordeaux
 12   Soufiane  Football Club des Girondins de Bordeaux
 13     Trazié  Football Club des Girondins de Bordeaux
 14   N'Famady  Football Club des Girondins de Bordeaux
 15      Issam  Football Club des Girondins de Bordeaux
 16     Adrien  Football Club des Girondins de Bordeaux
 17     Emeric  Football Club des Girondins de Bordeaux
 19       Andy  Football Club des Girondins de Bordeaux
 20      Yanis  Football Club des Girondins de Bordeaux
 21     Diallo  Football Club des Girondins de Bordeaux
 22    Etienne  Football Club des Girondins de Bordeaux
 23     Travis  Football Club des Girondins de Bordeaux
 24   Safouane  Football Club des Girondins de Bordeaux
 25       Yvan  Football Club des Girondins de Bordeaux
 26       Pape  Football Club des Girondins de Bordeaux  ,
            P.   Nat.[note 7]            Nom Date de naissance     Prénom  \
 0     Gardien        Algeria        Mandrea        1996-12-25    Anthony
 1     Gardien         France      Clementia        1997-07-05     Yannis
 2     Gardien       DR Congo       Mandanda        1989-11-10    Parfait
 4   Defenseur         France        Bolumbu        2004-07-12      Diabé
 5   Defenseur         France          Henry        1993-09-18   Valentin
 6   Defenseur          Gabon     Moussounda        2000-10-10       Alex
 7   Defenseur         France         Gaudin        2000-05-09      Jules
 8   Defenseur         France             Sy        2002-08-10     Lamine
 9   Defenseur         France        Tavares        2004-10-14  Heliodino
 10  Defenseur         France       Lecœuche        1994-02-04    Quentin
 11  Defenseur         France         Thomas        1988-06-12     Romain
 12  Defenseur         France         Traoré        2004-02-04     Brahim
 13  Defenseur    Ivory Coast  Gaucho Debohi        2001-01-15  Dieudonné
 14  Defenseur          Ghana           Ntim        1996-03-12   Emmanuel
 16     Milieu         France         M'Vila        1990-06-29       Yann
 17     Milieu         France        Brahimi        2000-03-28      Bilal
 18     Milieu         France          Rajot        1997-10-13    Lorenzo
 19     Milieu         France       Lebreton        2004-04-22        Noé
 20     Milieu         France         Autret        1991-03-01    Mathias
 21     Milieu        Morocco       Benrahou        1999-01-24    Yassine
 22     Milieu         France        Bagbema        2004-01-13    Zoumana
 23     Milieu         France           Tomé        2004-01-26      Gabin
 24     Milieu    Ivory Coast           Koné        2003-01-07     Daouda
 26  Attaquant         France       Le Bihan        1990-05-16    Mickaël
 27  Attaquant  Guinea-Bissau          Candé        2004-12-28      Umaro
 28  Attaquant         France       Kyeremeh        2000-06-14     Godson
 29  Attaquant           Mali      Coulibaly        1991-08-21     Kalifa
 30  Attaquant  Guinea-Bissau          Mendy        1994-03-20  Alexandre
 31  Attaquant         France       Grandsir        1996-08-14     Samuel
 32  Attaquant        Morocco          Hafid        2004-12-01    Mohamed
 33  Attaquant         France        Niakaté        2004-10-01  Abdoulaye
 34  Attaquant         France          Najim        2002-09-10      Ilyes
 35  Attaquant    Ivory Coast        Ba Loua        1996-07-27     Adriel

                  Equipe
 0   Stade Malherbe Caen
 1   Stade Malherbe Caen
 2   Stade Malherbe Caen
 4   Stade Malherbe Caen
 5   Stade Malherbe Caen
 6   Stade Malherbe Caen
 7   Stade Malherbe Caen
 8   Stade Malherbe Caen
 9   Stade Malherbe Caen
 10  Stade Malherbe Caen
 11  Stade Malherbe Caen
 12  Stade Malherbe Caen
 13  Stade Malherbe Caen
 14  Stade Malherbe Caen
 16  Stade Malherbe Caen
 17  Stade Malherbe Caen
 18  Stade Malherbe Caen
 19  Stade Malherbe Caen
 20  Stade Malherbe Caen
 21  Stade Malherbe Caen
 22  Stade Malherbe Caen
 23  Stade Malherbe Caen
 24  Stade Malherbe Caen
 26  Stade Malherbe Caen
 27  Stade Malherbe Caen
 28  Stade Malherbe Caen
 29  Stade Malherbe Caen
 30  Stade Malherbe Caen
 31  Stade Malherbe Caen
 32  Stade Malherbe Caen
 33  Stade Malherbe Caen
 34  Stade Malherbe Caen
 35  Stade Malherbe Caen  ,
            P.     Nat.[105]                 Nom Date de naissance    Prénom  \
 0     Gardien        France  Bartouche-Selbonne        1997-06-05     Teddy
 1     Gardien        France             Basilio        1994-10-03      Enzo
 2     Gardien       Senegal              Niasse        1996-12-20   Babacar
 3     Gardien        France               Marec        2004-08-25      Noah
 5   Defenseur        France           Maronnier        2000-03-09     Lucas
 6   Defenseur        France             Vallier        1999-04-24     Lenny
 7   Defenseur        France               Gomis        1994-11-07  Donatien
 8   Defenseur       Senegal               Ndour        1993-12-20  Abdallah
 9   Defenseur        France                Nair        2002-04-23    Sohaïb
 10  Defenseur        France             Sissoko        1997-03-07     Alpha
 11  Defenseur        France           Lemonnier        1993-07-06    Pierre
 12  Defenseur        France                Riou        2001-01-19   Matthis
 13  Defenseur        France             Planeix        2007-01-15    Idriss
 15     Milieu        France           Louiserre        1995-02-02     Dylan
 16     Milieu  South Africa               Phiri        1994-11-09  Lebogang
 17     Milieu        France              Sidibé        1999-01-20   Kalidou
 18     Milieu        France              Picard        2003-05-09      Hugo
 19     Milieu        France               Hemia        1998-01-22     Amine
 20     Milieu        France             Luvambo        1999-07-05    Taylor
 21     Milieu       Morocco            Touzghar        2003-10-27     Rayan
 23  Attaquant        France              Labeau        1996-01-01  Brighton
 24  Attaquant       Senegal               Sagna        1999-06-10    Amadou
 25  Attaquant        France                Siwe        2001-07-29   Jacques
 26  Attaquant        France            Guendouz        2000-02-09     Sabri
 27  Attaquant        France              Ghrieb        1999-04-21     Rayan
 28  Attaquant         Spain      Armando Mendes        2001-11-17    Junior

                   Equipe
 0   En avant de Guingamp
 1   En avant de Guingamp
 2   En avant de Guingamp
 3   En avant de Guingamp
 5   En avant de Guingamp
 6   En avant de Guingamp
 7   En avant de Guingamp
 8   En avant de Guingamp
 9   En avant de Guingamp
 10  En avant de Guingamp
 11  En avant de Guingamp
 12  En avant de Guingamp
 13  En avant de Guingamp
 15  En avant de Guingamp
 16  En avant de Guingamp
 17  En avant de Guingamp
 18  En avant de Guingamp
 19  En avant de Guingamp
 20  En avant de Guingamp
 21  En avant de Guingamp
 23  En avant de Guingamp
 24  En avant de Guingamp
 25  En avant de Guingamp
 26  En avant de Guingamp
 27  En avant de Guingamp
 28  En avant de Guingamp  ,
            P. Nat.[note 5]            Nom Date de naissance         Prénom  \
 0     Gardien       France           Riou        1987-08-06           Rémy
 1     Gardien       France      Nkambadio        2003-02-07           Obed
 2     Gardien       France         Himeur        2001-01-17         Thomas
 4   Defenseur      Finland         Ollila        2000-04-25         Tuomas
 5   Defenseur      Senegal           Mbow        2000-03-08      Moustapha
 6   Defenseur       France  Kolodziejczak        1991-10-01       Timothée
 7   Defenseur      Morocco       Alakouch        1998-07-29        Sofiane
 8   Defenseur      Belgium        De Smet        1998-06-05       Thibault
 9   Defenseur       France        Chergui        1999-02-06          Samir
 10  Defenseur       France          Colau        2006-02-23        Dimitri
 11  Defenseur      Morocco      Tourraine        2001-01-14         Mathys
 13     Milieu       France      Marchetti        1997-07-04        Vincent
 14     Milieu       France         Doucet        2002-09-14         Lohann
 15     Milieu      Algeria         Kebbal        1998-07-10           Ilan
 16     Milieu       France         Cafaro        1997-03-25        Mathieu
 17     Milieu       France         Camara        1996-10-18          Adama
 18     Milieu       France          Lopez        1997-12-04         Maxime
 20  Attaquant       France           Gory        1996-08-30        Alimani
 21  Attaquant       France        Pembélé        2000-07-04           Andy
 22  Attaquant  Ivory Coast         Krasso        1997-07-17  Jean-Philippe
 23  Attaquant         Mali          Dicko        1992-05-14          Nouha
 24  Attaquant       France        Sissoko        2006-08-18           Omar
 25  Attaquant      Algeria          Lopez        1992-03-01         Julien
 26  Attaquant      Senegal          Gueye        1998-03-13         Lamine
 27  Attaquant       France          Hamel        1994-02-03    Pierre-Yves

                  Equipe
 0   Paris Football Club
 1   Paris Football Club
 2   Paris Football Club
 4   Paris Football Club
 5   Paris Football Club
 6   Paris Football Club
 7   Paris Football Club
 8   Paris Football Club
 9   Paris Football Club
 10  Paris Football Club
 11  Paris Football Club
 13  Paris Football Club
 14  Paris Football Club
 15  Paris Football Club
 16  Paris Football Club
 17  Paris Football Club
 18  Paris Football Club
 20  Paris Football Club
 21  Paris Football Club
 22  Paris Football Club
 23  Paris Football Club
 24  Paris Football Club
 25  Paris Football Club
 26  Paris Football Club
 27  Paris Football Club  ,
            P.    Nat.[110]           Nom Date de naissance     Prénom  \
 0     Gardien       France       Maubleu        1989-12-01      Brice
 1     Gardien      Senegal          Fall        2001-02-03   Boubacar
 2     Gardien       France    Larsonneur        1997-02-23    Gautier
 4   Defenseur       France          Nadé        1999-03-04    Mickaël
 5   Defenseur      Morocco    Abdelhamid        1987-09-28      Yunis
 6   Defenseur       France        Appiah        1992-06-09     Dennis
 7   Defenseur       France      Bernauer        1998-07-01     Maxime
 8   Defenseur       France        Cornud        1996-12-12     Pierre
 9   Defenseur       France        Pétrot        1997-04-15        Léo
 10  Defenseur     DR Congo   Batubinsika        1996-02-15      Dylan
 11  Defenseur       France      Briançon        1994-11-29    Anthony
 12  Defenseur       France         Maçon        1998-10-01      Yvann
 14     Milieu       France         Ekwah        2002-01-15     Pierre
 15     Milieu      Morocco    Bouchouari        2001-11-13   Benjamin
 16     Milieu       France       Tardieu        1992-04-22    Florian
 17     Milieu       France        Mouton        2002-06-03      Louis
 18     Milieu       France         Fomba        1998-01-26     Lamine
 19     Milieu       Serbia   Miladinović        2003-06-08       Igor
 20     Milieu      Morocco      Moueffek        2001-04-09      Aïmen
 21     Milieu       France      Gauthier        2004-07-01    Antoine
 23  Attaquant       France       Cardona        1997-08-08      Irvin
 24  Attaquant         Mali       Sissoko        1995-11-27    Ibrahim
 25  Attaquant  New Zealand           Old        2002-08-13        Ben

In [22]:
list_position = []
for team in team_players:
    for player in team:
        if player['position'] not in list_position:
            list_position.append(player['position'])
list_position

['Goalkeeper',
 'Defence',
 'Midfield',
 'Right Midfield',
 'Right Winger',
 'Left-Back',
 'Attacking Midfield',
 'Centre-Back',
 'Right-Back',
 'Centre-Forward',
 'Central Midfield',
 'Left Winger',
 'Offence',
 'Defensive Midfield',
 'Left Midfield']

In [23]:
for team in team_players:
    for player in team:
        if player['position'] == 'Goalkeeper':
            player['position'] = 'Gardien'
        elif player['position'] in ['Defence', 'Left-Back', 'Right-Back', 'Centre-Back']:
            player['position'] = 'Defenseur'
        elif player['position'] in ['Right Midfield', 'Attacking Midfield', 'Left Midfield', 'Midfield', 'Defensive Midfield', 'Central Midfield']:
            player['position'] = 'Milieu'
        elif player['position'] in ['Right Winger', 'Centre-Forward', 'Left Winger', 'Offence']:
            player['position'] = 'Attaquant'

team_players

[[{'id': 44055,
   'name': 'Kjetil Haug',
   'position': 'Gardien',
   'dateOfBirth': '1998-06-12',
   'nationality': 'Norway'},
  {'id': 178669,
   'name': 'Guillaume Restes',
   'position': 'Gardien',
   'dateOfBirth': '2005-03-11',
   'nationality': 'France'},
  {'id': 212867,
   'name': 'Justin Lacombe',
   'position': 'Gardien',
   'dateOfBirth': '2003-04-09',
   'nationality': 'France'},
  {'id': 274174,
   'name': 'Mathys Niflore',
   'position': 'Gardien',
   'dateOfBirth': '2007-03-02',
   'nationality': 'France'},
  {'id': 260271,
   'name': 'Jaydee Canvot',
   'position': 'Defenseur',
   'dateOfBirth': '2006-07-29',
   'nationality': 'France'},
  {'id': 264401,
   'name': 'Dayann Methalie',
   'position': 'Defenseur',
   'dateOfBirth': '2006-02-15',
   'nationality': 'France'},
  {'id': 260272,
   'name': 'Mathis Saka',
   'position': 'Milieu',
   'dateOfBirth': '2006-09-20',
   'nationality': 'France'},
  {'id': 250994,
   'name': 'Rafik Messali',
   'position': 'Milieu',
   'dateOfBirth': '2003-04-28',
   'nationality': 'Algeria'},
  {'id': 212975,
   'name': 'Noah Edjouma',
   'position': 'Attaquant',
   'dateOfBirth': '2005-10-04',
   'nationality': 'France'},
  {'id': 212589,
   'name': 'Shavy Warren Babicka',
   'position': 'Attaquant',
   'dateOfBirth': '2000-06-01',
   'nationality': 'Gabon'},
  {'id': 204253,
   'name': 'Ilyes Aradj',
   'position': 'Defenseur',
   'dateOfBirth': '2005-06-05',
   'nationality': 'France'},
  {'id': 192688,
   'name': 'Aron Dönnum',
   'position': 'Attaquant',
   'dateOfBirth': '1998-04-20',
   'nationality': 'Norway'},
  {'id': 190875,
   'name': 'Edhy Zuliani',
   'position': 'Milieu',
   'dateOfBirth': '2004-08-11',
   'nationality': 'Algeria'},
  {'id': 182207,
   'name': 'Umit Akdag',
   'position': 'Defenseur',
   'dateOfBirth': '2003-10-06',
   'nationality': 'Romania'},
  {'id': 180519,
   'name': 'Warren Kamanzi',
   'position': 'Defenseur',
   'dateOfBirth': '2000-11-11',
   'nationality': 'Norway'},
  {'id': 176747,
   'name': 'Frank Magri',
   'position': 'Attaquant',
   'dateOfBirth': '1999-09-04',
   'nationality': 'France'},
  {'id': 150797,
   'name': 'Charlie Cresswell',
   'position': 'Defenseur',
   'dateOfBirth': '2002-12-07',
   'nationality': 'England'},
  {'id': 81229,
   'name': 'Cristian Cásseres Jr.',
   'position': 'Milieu',
   'dateOfBirth': '2000-01-20',
   'nationality': 'Venezuela'},
  {'id': 81085,
   'name': 'Zakaria Aboukhlal',
   'position': 'Attaquant',
   'dateOfBirth': '2000-02-18',
   'nationality': 'Morocco'},
  {'id': 80175,
   'name': 'Yann Gboho',
   'position': 'Attaquant',
   'dateOfBirth': '2001-01-14',
   'nationality': 'France'},
  {'id': 77803,
   'name': 'Mark McKenzie',
   'position': 'Defenseur',
   'dateOfBirth': '1999-02-25',
   'nationality': 'USA'},
  {'id': 24190,
   'name': 'Rasmus Nicolaisen',
   'position': 'Defenseur',
   'dateOfBirth': '1997-03-16',
   'nationality': 'Denmark'},
  {'id': 21385,
   'name': 'Gabriel Suazo',
   'position': 'Defenseur',
   'dateOfBirth': '1997-08-09',
   'nationality': 'Chile'},
  {'id': 9490,
   'name': 'Vincent Sierro',
   'position': 'Milieu',
   'dateOfBirth': '1995-10-08',
   'nationality': 'Switzerland'},
  {'id': 9455,
   'name': 'Niklas Schmidt',
   'position': 'Milieu',
   'dateOfBirth': '1998-03-01',
   'nationality': 'Germany'},
  {'id': 8252,
   'name': 'Joshua King',
   'position': 'Attaquant',
   'dateOfBirth': '1992-01-15',
   'nationality': 'Norway'},
  {'id': 3362,
   'name': 'Djibril Sidibé',
   'position': 'Defenseur',
   'dateOfBirth': '1992-07-29',
   'nationality': 'France'},
  {'id': 2495,
   'name': 'Miha Zajc',
   'position': 'Milieu',
   'dateOfBirth': '1994-07-01',
   'nationality': 'Slovenia'}],
 [{'id': 731,
   'name': 'Grégoire Coudert',
   'position': 'Gardien',
   'dateOfBirth': '1999-04-03',
   'nationality': 'France'},
  {'id': 7675,
   'name': 'Marco Bizot',
   'position': 'Gardien',
   'dateOfBirth': '1991-03-10',
   'nationality': 'Netherlands'},
  {'id': 263957,
   'name': 'Noah Jauny',
   'position': 'Gardien',
   'dateOfBirth': '2004-08-26',
   'nationality': 'Ireland'},
  {'id': 273344,
   'name': 'Paris Irie',
   'position': 'Defenseur',
   'dateOfBirth': '2006-04-10',
   'nationality': 'France'},
  {'id': 273433,
   'name': 'Raphaël Le Guen',
   'position': 'Defenseur',
   'dateOfBirth': '2006-09-01',
   'nationality': 'France'},
  {'id': 273764,
   'name': 'Noan Géraux',
   'position': 'Milieu',
   'dateOfBirth': '2006-03-29',
   'nationality': 'France'},
  {'id': 264280,
   'name': 'Léo Botz',
   'position': 'Attaquant',
   'dateOfBirth': '2005-01-11',
   'nationality': 'France'},
  {'id': 264282,
   'name': 'Ibrahim Kanté',
   'position': 'Attaquant',
   'dateOfBirth': '2007-03-18',
   'nationality': 'France'},
  {'id': 267881,
   'name': 'Serigne Diop',
   'position': 'Attaquant',
   'dateOfBirth': '2005-05-12',
   'nationality': 'Senegal'},
  {'id': 274570,
   'name': 'Justin Bourgault',
   'position': 'Attaquant',
   'dateOfBirth': '2005-09-14',
   'nationality': 'France'},
  {'id': 119418,
   'name': 'Julien Le Cardinal',
   'position': 'Defenseur',
   'dateOfBirth': '1997-08-03',
   'nationality': 'France'},
  {'id': 76145,
   'name': 'Hugo Magnetti',
   'position': 'Milieu',
   'dateOfBirth': '1998-05-30',
   'nationality': 'France'},
  {'id': 43707,
   'name': 'Mama Baldé',
   'position': 'Attaquant',
   'dateOfBirth': '1995-11-06',
   'nationality': 'Guinea-Bissau'},
  {'id': 8788,
   'name': 'Jonas Martin',
   'position': 'Milieu',
   'dateOfBirth': '1990-04-09',
   'nationality': 'France'},
  {'id': 8778,
   'name': 'Kenny Lala',
   'position': 'Defenseur',
   'dateOfBirth': '1991-10-03',
   'nationality': 'France'},
  {'id': 8762,
   'name': 'Romain Faivre',
   'position': 'Milieu',
   'dateOfBirth': '1998-07-14',
   'nationality': 'France'},
  {'id': 8542,
   'name': 'Mahdi Camara',
   'position': 'Milieu',
   'dateOfBirth': '1998-06-30',
   'nationality': 'France'},
  {'id': 8439,
   'name': 'Pierre Lees Melou',
   'position': 'Milieu',
   'dateOfBirth': '1993-05-25',
   'nationality': 'France'},
  {'id': 8350,
   'name': 'Jordan Amavi',
   'position': 'Defenseur',
   'dateOfBirth': '1994-03-09',
   'nationality': 'France'},
  {'id': 8220,
   'name': 'Edimilson Fernandes',
   'position': 'Milieu',
   'dateOfBirth': '1996-04-15',
   'nationality': 'Switzerland'},
  {'id': 7916,
   'name': 'Massadio Haïdara',
   'position': 'Defenseur',
   'dateOfBirth': '1992-12-02',
   'nationality': 'France'},
  {'id': 856,
   'name': 'Romain Del Castillo',
   'position': 'Attaquant',
   'dateOfBirth': '1996-03-29',
   'nationality': 'France'},
  {'id': 723,
   'name': 'Ludovic Ajorque',
   'position': 'Attaquant',
   'dateOfBirth': '1994-02-25',
   'nationality': 'France'},
  {'id': 722,
   'name': 'Mathias Pereira Lage',
   'position': 'Attaquant',
   'dateOfBirth': '1996-11-30',
   'nationality': 'Portugal'},
  {'id': 441,
   'name': 'Brendan Chardonnet',
   'position': 'Defenseur',
   'dateOfBirth': '1994-12-22',
   'nationality': 'France'},
  {'id': 227982,
   'name': 'Luc Zogbe',
   'position': 'Defenseur',
   'dateOfBirth': '2005-03-24',
   'nationality': 'Ivory Coast'},
  {'id': 204310,
   'name': "Abdoulaye N'Diaye",
   'position': 'Defenseur',
   'dateOfBirth': '2002-04-10',
   'nationality': 'Senegal'},
  {'id': 187098,
   'name': 'Ibrahim Salah',
   'position': 'Attaquant',
   'dateOfBirth': '2001-08-30',
   'nationality': 'Morocco'},
  {'id': 175942,
   'name': 'Kamory Doumbia',
   'position': 'Milieu',
   'dateOfBirth': '2003-02-18',
   'nationality': 'Mali'},
  {'id': 171659,
   'name': 'Bradley Locko',
   'position': 'Defenseur',
   'dateOfBirth': '2002-05-06',
   'nationality': 'France'},
  {'id': 170075,
   'name': 'Soumaïla Coulibaly',
   'position': 'Defenseur',
   'dateOfBirth': '2003-10-14',
   'nationality': 'France'},
  {'id': 151264,
   'name': 'Abdallah Sima',
   'position': 'Attaquant',
   'dateOfBirth': '2001-06-17',
   'nationality': 'Senegal'}],
 [{'id': 6,
   'name': 'Géronimo Rulli',
   'position': 'Gardien',
   'dateOfBirth': '1992-05-20',
   'nationality': 'Argentina'},
  {'id': 33614,
   'name': 'Rubén Blanco',
   'position': 'Gardien',
   'dateOfBirth': '1995-07-25',
   'nationality': 'Spain'},
  {'id': 67880,
   'name': 'Jeffrey De Lange',
   'position': 'Gardien',
   'dateOfBirth': '1998-04-01',
   'nationality': 'Netherlands'},
  {'id': 178114,
   'name': 'Jelle Van Neck',
   'position': 'Gardien',
   'dateOfBirth': '2004-03-07',
   'nationality': 'Belgium'},
  {'id': 81816,
   'name': 'Amar Dedić',
   'position': 'Defenseur',
   'dateOfBirth': '2002-08-18',
   'nationality': 'Bosnia-Herzegovina'},
  {'id': 272977,
   'name': 'Rony Mimb Baheng',
   'position': 'Defenseur',
   'dateOfBirth': '2005-04-22',
   'nationality': 'Cameroon'},
  {'id': 213033,
   'name': 'Robinio Vaz',
   'position': 'Attaquant',
   'dateOfBirth': '2007-02-17',
   'nationality': 'France'},
  {'id': 264296,
   'name': 'Emmanuel Alexi Koum Mbondo',
   'position': 'Attaquant',
   'dateOfBirth': '2006-02-05',
   'nationality': 'France'},
  {'id': 33149,
   'name': 'Geoffrey Kondogbia',
   'position': 'Milieu',
   'dateOfBirth': '1993-02-15',
   'nationality': 'Central African Republic'},
  {'id': 8695,
   'name': 'Valentin Rongier',
   'position': 'Milieu',
   'dateOfBirth': '1994-12-07',
   'nationality': 'France'},
  {'id': 8476,
   'name': 'Amine Gouiri',
   'position': 'Attaquant',
   'dateOfBirth': '2000-02-16',
   'nationality': 'France'},
  {'id': 8093,
   'name': 'Pierre Emile Højbjerg',
   'position': 'Milieu',
   'dateOfBirth': '1995-08-05',
   'nationality': 'Denmark'},
  {'id': 7918,
   'name': 'Chancel Mbemba',
   'position': 'Defenseur',
   'dateOfBirth': '1994-08-08',
   'nationality': 'DR Congo'},
  {'id': 4443,
   'name': 'Neal Maupay',
   'position': 'Attaquant',
   'dateOfBirth': '1996-08-14',
   'nationality': 'France'},
  {'id': 3714,
   'name': 'Amine Harit',
   'position': 'Milieu',
   'dateOfBirth': '1997-06-18',
   'nationality': 'Morocco'},
  {'id': 3368,
   'name': 'Adrien Rabiot',
   'position': 'Milieu',
   'dateOfBirth': '1995-04-03',
   'nationality': 'France'},
  {'id': 2505,
   'name': 'Ismael Bennacer',
   'position': 'Milieu',
   'dateOfBirth': '1997-12-01',
   'nationality': 'Algeria'},
  {'id': 2185,
   'name': 'Pol Mikel Lirola',
   'position': 'Defenseur',
   'dateOfBirth': '1997-08-13',
   'nationality': 'Spain'},
  {'id': 2071,
   'name': 'Luiz Felipe',
   'position': 'Defenseur',
   'dateOfBirth': '1997-03-22',
   'nationality': 'Italy'},
  {'id': 238,
   'name': 'Ulisses Garcia',
   'position': 'Defenseur',
   'dateOfBirth': '1996-01-11',
   'nationality': 'Switzerland'},
  {'id': 250948,
   'name': 'Darryl Bakola',
   'position': 'Milieu',
   'dateOfBirth': '2007-11-30',
   'nationality': 'France'},
  {'id': 250853,
   'name': 'Gaël Lafont',
   'position': 'Milieu',
   'dateOfBirth': '2006-06-07',
   'nationality': 'France'},
  {'id': 250795,
   'name': 'Keyliane Abdallah',
   'position': 'Attaquant',
   'dateOfBirth': '2006-04-05',
   'nationality': 'France'},
  {'id': 188908,
   'name': 'Michael Murillo',
   'position': 'Defenseur',
   'dateOfBirth': '1996-02-11',
   'nationality': 'Panama'},
  {'id': 187371,
   'name': 'Valentín Carboni',
   'position': 'Milieu',
   'dateOfBirth': '2005-03-05',
   'nationality': 'Italy'},
  {'id': 176664,
   'name': 'Jonathan Rowe',
   'position': 'Attaquant',
   'dateOfBirth': '2003-04-30',
   'nationality': 'England'},
  {'id': 170409,
   'name': 'Bilal Nadir',
   'position': 'Milieu',
   'dateOfBirth': '2003-11-28',
   'nationality': 'France'},
  {'id': 160410,
   'name': 'Quentin Merlin',
   'position': 'Defenseur',
   'dateOfBirth': '2002-05-16',
   'nationality': 'France'},
  {'id': 144651,
   'name': 'Faris Moumbagna',
   'position': 'Attaquant',
   'dateOfBirth': '2000-07-01',
   'nationality': 'Cameroon'},
  {'id': 115074,
   'name': 'Luis Henrique',
   'position': 'Attaquant',
   'dateOfBirth': '2001-12-14',
   'nationality': 'Brazil'},
  {'id': 113228,
   'name': 'Derek Cornelius',
   'position': 'Defenseur',
   'dateOfBirth': '1997-11-25',
   'nationality': 'Canada'},
  {'id': 101075,
   'name': 'Mason Greenwood',
   'position': 'Attaquant',
   'dateOfBirth': '2001-10-01',
   'nationality': 'England'},
  {'id': 82020,
   'name': 'Leonardo Balerdi',
   'position': 'Defenseur',
   'dateOfBirth': '1999-01-26',
   'nationality': 'Argentina'}],
 [{'id': 8365,
   'name': 'Dimitry Bertaud',
   'position': 'Gardien',
   'dateOfBirth': '1998-06-06',
   'nationality': 'France'},
  {'id': 8366,
   'name': 'Benjamin Lecomte',
   'position': 'Gardien',
   'dateOfBirth': '1991-04-26',
   'nationality': 'France'},
  {'id': 212855,
   'name': 'Belmin Dizdarevic',
   'position': 'Gardien',
   'dateOfBirth': '2001-08-09',
   'nationality': 'Bosnia-Herzegovina'},
  {'id': 179604,
   'name': 'Yaël Mouanga',
   'position': 'Defenseur',
   'dateOfBirth': '2005-07-23',
   'nationality': 'France'},
  {'id': 264409,
   'name': 'Stefan Džodić',
   'position': 'Milieu',
   'dateOfBirth': '2005-03-15',
   'nationality': 'Serbia'},
  {'id': 270892,
   'name': 'Craig Mamilo',
   'position': 'Milieu',
   'dateOfBirth': '2006-07-04',
   'nationality': 'France'},
  {'id': 274815,
   'name': 'Nicolas Pays',
   'position': 'Milieu',
   'dateOfBirth': '2003-07-07',
   'nationality': 'France'},
  {'id': 8308,
   'name': 'Andy Delort',
   'position': 'Attaquant',
   'dateOfBirth': '1991-10-09',
   'nationality': 'Algeria'},
  {'id': 270729,
   'name': 'Simon Cara',
   'position': 'Attaquant',
   'dateOfBirth': '2005-03-31',
   'nationality': 'France'},
  {'id': 125677,
   'name': 'Joris Chotard',
   'position': 'Milieu',
   'dateOfBirth': '2001-09-24',
   'nationality': 'France'},
  {'id': 123108,
   'name': 'Tanguy Coulibaly',
   'position': 'Attaquant',
   'dateOfBirth': '2001-02-18',
   'nationality': 'France'},
  {'id': 115620,
   'name': 'Gabriel Bares',
   'position': 'Milieu',
   'dateOfBirth': '2000-08-29',
   'nationality': 'Switzerland'},
  {'id': 96992,
   'name': 'Becir Omeragic',
   'position': 'Defenseur',
   'dateOfBirth': '2002-01-20',
   'nationality': 'Switzerland'},
  {'id': 37446,
   'name': 'Falaye Sacko',
   'position': 'Defenseur',
   'dateOfBirth': '1995-05-01',
   'nationality': 'Mali'},
  {'id': 37107,
   'name': 'Boubacar Kouyaté',
   'position': 'Defenseur',
   'dateOfBirth': '1997-04-15',
   'nationality': 'Mali'},
  {'id': 8463,
   'name': 'Jordan Ferri',
   'position': 'Milieu',
   'dateOfBirth': '1992-03-12',
   'nationality': 'France'},
  {'id': 8298,
   'name': 'Issiaga Sylla',
   'position': 'Defenseur',
   'dateOfBirth': '1994-01-01',
   'nationality': 'Guinea'},
  {'id': 8297,
   'name': 'Christopher Jullien',
   'position': 'Defenseur',
   'dateOfBirth': '1993-03-22',
   'nationality': 'France'},
  {'id': 3598,
   'name': 'Wahbi Khazri',
   'position': 'Attaquant',
   'dateOfBirth': '1991-02-08',
   'nationality': 'Tunisia'},
  {'id': 3436,
   'name': 'Nikola Maksimović',
   'position': 'Defenseur',
   'dateOfBirth': '1991-11-25',
   'nationality': 'Serbia'},
  {'id': 852,
   'name': 'Téji Savanier',
   'position': 'Milieu',
   'dateOfBirth': '1991-12-22',
   'nationality': 'France'},
  {'id': 847,
   'name': 'Théo Sainte-Luce',
   'position': 'Defenseur',
   'dateOfBirth': '1998-10-20',
   'nationality': 'France'},
  {'id': 800,
   'name': 'Modibo Sagnan',
   'position': 'Defenseur',
   'dateOfBirth': '1999-04-14',
   'nationality': 'France'},
  {'id': 541,
   'name': 'Birama Touré',
   'position': 'Milieu',
   'dateOfBirth': '1992-06-06',
   'nationality': 'Mali'},
  {'id': 263521,
   'name': 'Glenn Ngosso',
   'position': 'Attaquant',
   'dateOfBirth': '2004-01-12',
   'nationality': 'Cameroon'},
  {'id': 246704,
   'name': 'Rabby Nzingoula',
   'position': 'Milieu',
   'dateOfBirth': '2005-11-25',
   'nationality': 'France'},
  {'id': 246658,
   'name': 'Junior Ndiaye',
   'position': 'Attaquant',
   'dateOfBirth': '2005-03-29',
   'nationality': 'UA Emirates'},
  {'id': 245467,
   'name': 'Théo Chennahi',
   'position': 'Milieu',
   'dateOfBirth': '2005-02-06',
   'nationality': 'France'},
  {'id': 230209,
   'name': 'Othmane Maamma',
   'position': 'Attaquant',
   'dateOfBirth': '2005-10-06',
   'nationality': 'Morocco'},
  {'id': 221367,
   'name': 'Yanis Issoufou',
   'position': 'Attaquant',
   'dateOfBirth': '2006-10-28',
   'nationality': 'France'},
  {'id': 214511,
   'name': 'Lucas Mincarelli',
   'position': 'Defenseur',
   'dateOfBirth': '2004-06-24',
   'nationality': 'France'},
  {'id': 188039,
   'name': 'Axel Gueguin',
   'position': 'Attaquant',
   'dateOfBirth': '2005-03-24',
   'nationality': 'France'},
  {'id': 185003,
   'name': 'Khalil Fayad',
   'position': 'Milieu',
   'dateOfBirth': '2004-06-09',
   'nationality': 'France'},
  {'id': 179596,
   'name': 'Bamo Meité',
   'position': 'Defenseur',
   'dateOfBirth': '2001-06-20',
   'nationality': 'Ivory Coast'},
  {'id': 177393,
   'name': 'Enzo Tchato',
   'position': 'Defenseur',
   'dateOfBirth': '2002-11-23',
   'nationality': 'Cameroon'}],
 [{'id': 4259,
   'name': 'Vito Mannone',
   'position': 'Gardien',
   'dateOfBirth': '1988-03-02',
   'nationality': 'Italy'},
  {'id': 8661,
   'name': 'Marc-Aurèle Caillard',
   'position': 'Gardien',
   'dateOfBirth': '1994-05-12',
   'nationality': 'France'},
  {'id': 147896,
   'name': 'Lucas Chevalier',
   'position': 'Gardien',
   'dateOfBirth': '2001-11-06',
   'nationality': 'France'},
  {'id': 212871,
   'name': 'Lisandru Olmeta',
   'position': 'Gardien',
   'dateOfBirth': '2005-07-21',
   'nationality': 'France'},
  {'id': 270793,
   'name': 'Isaac Cossier',
   'position': 'Defenseur',
   'dateOfBirth': '2006-11-30',
   'nationality': 'France'},
  {'id': 272041,
   'name': 'Morgan Costarelli',
   'position': 'Defenseur',
   'dateOfBirth': '2005-04-28',
   'nationality': 'France'},
  {'id': 213221,
   'name': 'Hákon Haraldsson',
   'position': 'Milieu',
   'dateOfBirth': '2003-04-10',
   'nationality': 'Iceland'},
  {'id': 270794,
   'name': 'Younes Lachaab',
   'position': 'Milieu',
   'dateOfBirth': '2005-01-06',
   'nationality': 'France'},
  {'id': 31531,
   'name': 'Gabriel Gudmundsson',
   'position': 'Defenseur',
   'dateOfBirth': '1999-04-29',
   'nationality': 'Sweden'},
  {'id': 9053,
   'name': 'Chuba Akpom',
   'position': 'Attaquant',
   'dateOfBirth': '1995-10-09',
   'nationality': 'England'},
  {'id': 8990,
   'name': 'Edon Zhegrova',
   'position': 'Attaquant',
   'dateOfBirth': '1999-03-31',
   'nationality': 'Kosovo'},
  {'id': 8924,
   'name': 'Jonathan David',
   'position': 'Attaquant',
   'dateOfBirth': '2000-01-14',
   'nationality': 'Canada'},
  {'id': 8811,
   'name': 'Benjamin André',
   'position': 'Milieu',
   'dateOfBirth': '1990-08-03',
   'nationality': 'France'},
  {'id': 8541,
   'name': 'Rémy Cabella',
   'position': 'Milieu',
   'dateOfBirth': '1990-03-08',
   'nationality': 'France'},
  {'id': 7910,
   'name': 'Angel Gomes',
   'position': 'Milieu',
   'dateOfBirth': '2000-08-31',
   'nationality': 'England'},
  {'id': 7555,
   'name': 'Mitchel Bakker',
   'position': 'Defenseur',
   'dateOfBirth': '2000-06-20',
   'nationality': 'Netherlands'},
  {'id': 6503,
   'name': 'Nabil Bentaleb',
   'position': 'Milieu',
   'dateOfBirth': '1994-11-24',
   'nationality': 'Algeria'},
  {'id': 3650,
   'name': 'Thomas Meunier',
   'position': 'Defenseur',
   'dateOfBirth': '1991-09-12',
   'nationality': 'Belgium'},
  {'id': 3361,
   'name': 'Samuel Umtiti',
   'position': 'Defenseur',
   'dateOfBirth': '1993-11-14',
   'nationality': 'France'},
  {'id': 3251,
   'name': 'André Gomes',
   'position': 'Milieu',
   'dateOfBirth': '1993-07-30',
   'nationality': 'Portugal'},
  {'id': 3226,
   'name': 'Ismaily Gonçalves dos Santos',
   'position': 'Defenseur',
   'dateOfBirth': '1990-01-11',
   'nationality': 'Brazil'},
  {'id': 19,
   'name': 'Aïssa Mandi',

In [ ]:
try:
    cnx = connector.connect(host='localhost',
                            database='football_predictor',
                            user=config['MYSQL_USER'],
                            password=config['MYSQL_PASSWORD'],
                            )
    if cnx.is_connected():
        print('Connecté à la base MySQL')
        cursor = cnx.cursor()
        # Chargement des données dans la base données SQL
        team_count = 0
        for team in team_players:
            cursor.execute("SELECT id FROM `Team` WHERE shortname = %s;", [team_shortnames[team_count]])
            team_id = cursor.fetchone()
            add_coach_ligue1 = ("INSERT INTO `Staff` (first_name, last_name, birthdate, nationality, role, team_id) "
                                f"VALUES (\"{team_coaches[team_count]['name'].split(' ', 1)[0]}\", "
                                f"\"{team_coaches[team_count]['name'].split(' ', 1)[1]}\", \"{team_coaches[team_count]['dateOfBirth']}\", "
                                f"\"{team_coaches[team_count]['nationality']}\", \"Entraineur\", {team_id[0]})" )
            team_count += 1
            cursor.execute(add_coach_ligue1)

            for player in team:
                add_player_ligue1 = ("INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) "
                                    f"VALUES (\"{player['name'].split(' ', 1)[0]}\", \"{player['name'].split(' ', 1)[1]}\", "
                                    f"\"{player['dateOfBirth']}\", \"{player['nationality']}\", \"{player['position']}\", {team_id[0]})" )
                # print(add_player_ligue1)
                cursor.execute(add_player_ligue1)
        for team in df_list:
            cursor.execute("SELECT id FROM `Team` WHERE name = %s;", [team['Equipe'][0]])
            team_id = cursor.fetchone()
            coach = df_coaches_ligue2[df_coaches_ligue2['index'] == team['Equipe'][0]].reset_index()
            add_coach_ligue2 = ("INSERT INTO `Staff` (first_name, last_name, birthdate, nationality, role, team_id) "
                                f"VALUES (\"{coach['surname'][0]}\", \"{coach['name'][0]}\", "
                                f"\"{coach['birthdate'][0]}\", \"{coach['nationality'][0]}\", "
                                f"\"Entraineur\", {team_id[0]})" )
            cursor.execute(add_coach_ligue2)
            for index, row in team.iterrows():
                add_player_ligue2 = ("INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) "
                                    f"VALUES (\"{row.iloc[4]}\", \"{row.iloc[2]}\", \"{row.iloc[3]}\", \"{row.iloc[1]}\", "
                                    f"\"{row.iloc[0]}\", {team_id[0]})")
                print(add_player_ligue2)
                cursor.execute(add_player_ligue2)
        cnx.commit()
except Error as e:
    cnx.close()
    print("Erreur lors de la connexion à la base MySQL :", e)
finally:
    if cnx.is_connected():
        cnx.close()
        print('Connexion à la base MySQL fermée')

Connecté à la base MySQL
Toulouse
Brest
Marseille
Montpellier
Lille
Nice
Olympique Lyon
PSG
Stade Rennais
Nantes
RC Lens
Stade de Reims
Monaco
Strasbourg
   level_0                   index surname    name   birthdate nationality
0        0  Le Havre Athletic Club  Didier  Digard  1986-07-12      France
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mathieu", "Gorgelin", "1990-08-05 00:00:00", "France", "Gardien", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Arthur", "Desmas", "1994-04-07 00:00:00", "France", "Gardien", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Gautier", "Lloris", "1995-07-18 00:00:00", "France", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Étienne", "Youté Kinkoué", "2002-01-14 00:00:00", "France", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Loïc", "Nego", "1991-01-15 00:00:00", "Hungary", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mathéo", "Bodmer", "2004-05-06 00:00:00", "France", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Oualid", "El Hajjam", "1991-02-19 00:00:00", "Morocco", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yanis", "Zouaoui", "1998-04-28 00:00:00", "France", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Timothée", "Pembélé", "2002-09-09 00:00:00", "France", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Arouna", "Sangante", "2002-04-12 00:00:00", "Senegal", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Fodé", "Ballo-Touré", "1997-01-03 00:00:00", "Senegal", "Defenseur", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yassine", "Kechta", "2002-02-25 00:00:00", "Morocco", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Daler", "Kuzyaev", "1993-01-15 00:00:00", "Russia", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Rassoul", "Ndiaye", "2001-12-11 00:00:00", "Senegal", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Junior", "Mwanga", "2003-05-11 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Guy-Noël", "Zohouri", "2007-02-01 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Aloïs", "Confais", "1996-09-07 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mahamadou", "Diawara", "2005-02-17 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ismail", "Bouneb", "2006-06-07 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Daren", "Mosengo", "2006-08-11 00:00:00", "France", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Abdoulaye", "Touré", "1994-03-03 00:00:00", "Guinea", "Milieu", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yann", "Kitala", "1998-04-09 00:00:00", "DR Congo", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Josué", "Casimir", "2001-09-24 00:00:00", "France", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Élysée", "Logbo", "2004-05-06 00:00:00", "France", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Antoine", "Joujou", "2003-03-12 00:00:00", "France", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("André", "Ayew", "1989-12-17 00:00:00", "Ghana", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Issa", "Soumaré", "2000-10-10 00:00:00", "Senegal", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ilyes", "Housni", "2005-05-14 00:00:00", "Morocco", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ruben", "Londja", "2006-06-10 00:00:00", "Switzerland", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ahmed", "Hassan", "1993-03-05 00:00:00", "Egypt", "Attaquant", 15)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ben", "Bamba", "2005-09-16 00:00:00", "France", "Attaquant", 15)
   level_0                  index   surname       name   birthdate nationality
0        1  Football Club de Metz  Stéphane  Le Mignan  1974-06-04      France
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Alexandre", "Oukidja", "1988-07-19 00:00:00", "Algeria", "Gardien", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Arnaud", "Bodart", "1998-03-11 00:00:00", "Belgium", "Gardien", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Pape", "Mamadou Sy", "1997-05-02 00:00:00", "Senegal", "Gardien", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Maxime", "Colin", "1991-11-15 00:00:00", "France", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Matthieu", "Udol", "1996-03-20 00:00:00", "France", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Urie-Michel", "Mboula", "2003-04-30 00:00:00", "Gabon", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ismaël", "Traoré", "1986-08-18 00:00:00", "Ivory Coast", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Aboubacar", "Lô", "2000-01-02 00:00:00", "Senegal", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Kévin", "Van Den Kerkhof", "1996-03-14 00:00:00", "Algeria", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Sadibou", "Sané", "2004-06-10 00:00:00", "Senegal", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Koffi", "Kouao", "1998-05-20 00:00:00", "Ivory Coast", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Charles", "Divialle", "2004-02-09 00:00:00", "France", "Defenseur", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Joseph", "Nduquidi", "2004-10-31 00:00:00", "France", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Gauthier", "Hein", "1996-08-07 00:00:00", "France", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Alpha", "Touré", "2006-01-25 00:00:00", "Senegal", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Cheikh", "Sabaly", "1998-03-04 00:00:00", "Senegal", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Lilian", "Raillot", "2004-05-16 00:00:00", "France", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Jessy", "Deminguet", "1998-01-07 00:00:00", "France", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Benjamin", "Stambouli", "1990-09-13 00:00:00", "France", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ablie", "Jallow", "1998-11-14 00:00:00", "The Gambia", "Milieu", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ibou", "Sané", "2005-03-28 00:00:00", "Senegal", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Pape", "Amadou Diallo", "2004-06-25 00:00:00", "Senegal", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Idrissa", "Gueye", "2006-09-16 00:00:00", "Senegal", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Morgan", "Bokele", "2004-03-13 00:00:00", "Cameroon", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Édouard", "Soumah-Abbad", "2003-03-31 00:00:00", "France", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Joseph", "Mangondo", "2005-08-06 00:00:00", "France", "Attaquant", 16)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Joel", "Asoro", "1999-04-27 00:00:00", "Sweden", "Attaquant", 16)
   level_0                                    index surname   name  \
0        2  Football Club des Girondins de Bordeaux   Bruno  Irles

    birthdate nationality
0  1975-08-16      France
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Lassana", "Diabaté", "2003-08-21 00:00:00", "France", "Gardien", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Georges", "Grimaud", "2006-08-26 00:00:00", "France", "Gardien", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Nama", "Fofana", "1990-07-12 00:00:00", "France", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Nathanaël", "Bai", "1999-02-14 00:00:00", "France", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Cédric", "Yambéré", "1990-11-06 00:00:00", "the Central African Republic", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Jean", "Grillot", "2005-11-20 00:00:00", "France", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Youssouf", "Assogba", "2001-08-21 00:00:00", "Benin", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Djibril", "Diaw", "1994-12-31 00:00:00", "Senegal", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Nassim", "Ranem", "2002-09-20 00:00:00", "France", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Driss", "Trichard", "1995-03-27 00:00:00", "France", "Defenseur", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Soufiane", "Bahassa", "1994-07-08 00:00:00", "France", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Trazié", "Thomas", "1999-07-01 00:00:00", "Ivory Coast", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("N'Famady", "Diaby", "1998-11-30 00:00:00", "France", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Issam", "Ben Khemis", "1996-01-10 00:00:00", "Tunisia", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Adrien", "Louveau", "2000-02-01 00:00:00", "France", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Emeric", "Depussay", "2001-10-27 00:00:00", "France", "Milieu", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Andy", "Carroll", "1989-01-06 00:00:00", "England", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yanis", "Merdji", "1993-10-29 00:00:00", "France", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Diallo", "Amadou", "2003-02-15 00:00:00", "England", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Etienne", "Beugre", "2000-12-12 00:00:00", "Ivory Coast", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Travis", "Mutyaba", "2005-08-07 00:00:00", "Uganda", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Safouane", "Karim", "2004-07-18 00:00:00", "the Netherlands", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yvan", "Ikia Dimi", "2004-09-26 00:00:00", "France", "Attaquant", 17)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Pape", "Massar Djitté", "2003-02-08 00:00:00", "Senegal", "Attaquant", 17)
   level_0                index surname      name   birthdate nationality
0        3  Stade Malherbe Caen   Bruno  Baltazar  1977-07-06    Portugal
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Anthony", "Mandrea", "1996-12-25 00:00:00", "Algeria", "Gardien", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yannis", "Clementia", "1997-07-05 00:00:00", "France", "Gardien", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Parfait", "Mandanda", "1989-11-10 00:00:00", "DR Congo", "Gardien", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Diabé", "Bolumbu", "2004-07-12 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Valentin", "Henry", "1993-09-18 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Alex", "Moussounda", "2000-10-10 00:00:00", "Gabon", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Jules", "Gaudin", "2000-05-09 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Lamine", "Sy", "2002-08-10 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Heliodino", "Tavares", "2004-10-14 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Quentin", "Lecœuche", "1994-02-04 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Romain", "Thomas", "1988-06-12 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Brahim", "Traoré", "2004-02-04 00:00:00", "France", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Dieudonné", "Gaucho Debohi", "2001-01-15 00:00:00", "Ivory Coast", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Emmanuel", "Ntim", "1996-03-12 00:00:00", "Ghana", "Defenseur", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yann", "M'Vila", "1990-06-29 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Bilal", "Brahimi", "2000-03-28 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Lorenzo", "Rajot", "1997-10-13 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Noé", "Lebreton", "2004-04-22 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mathias", "Autret", "1991-03-01 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Yassine", "Benrahou", "1999-01-24 00:00:00", "Morocco", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Zoumana", "Bagbema", "2004-01-13 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Gabin", "Tomé", "2004-01-26 00:00:00", "France", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Daouda", "Koné", "2003-01-07 00:00:00", "Ivory Coast", "Milieu", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mickaël", "Le Bihan", "1990-05-16 00:00:00", "France", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Umaro", "Candé", "2004-12-28 00:00:00", "Guinea-Bissau", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Godson", "Kyeremeh", "2000-06-14 00:00:00", "France", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Kalifa", "Coulibaly", "1991-08-21 00:00:00", "Mali", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Alexandre", "Mendy", "1994-03-20 00:00:00", "Guinea-Bissau", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Samuel", "Grandsir", "1996-08-14 00:00:00", "France", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Mohamed", "Hafid", "2004-12-01 00:00:00", "Morocco", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Abdoulaye", "Niakaté", "2004-10-01 00:00:00", "France", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Ilyes", "Najim", "2002-09-10 00:00:00", "France", "Attaquant", 18)
INSERT INTO `Player` (first_name, last_name, birthdate, nationality, position, team_id) VALUES ("Adriel", "Ba Loua", "1996-07-27 00:00:00", "Ivory Coast", "Attaquant", 18)

In [2]:
df_rankings_list = {}
with open('../data/competition/ligue2.json', 'r') as file:
    rankings_ligue2 = json.load(file)
    for season in rankings_ligue2:
        for key in rankings_ligue2[season]:
            df = pd.DataFrame(rankings_ligue2[season][key], columns=['position', 'link', 'fullname', 'shortname', 'points', 'played', 'win',
                                                                     'draw', 'loss', 'goalFor', 'goalAgainst', 'goalDiff'])
            df_rankings_list[(int(season), key)] = df.drop(columns=['link', 'goalDiff'])
        # df_rankings_ligue2 = pd.read_json('../data/competition/ligue2.json', orient='index')
        # df_rankings_list.append(df_rankings_ligue2)
df_rankings_list

{(2022,
  'TOTAL'):    position                                 fullname               shortname  \
 0         1                   Le Havre Athletic Club             Le Havre AC
 1         2                    Football Club de Metz                 FC Metz
 2         3  Football Club des Girondins de Bordeaux   Girondins de Bordeaux
 3         4                  Sporting Club de Bastia               SC Bastia
 4         5                      Stade Malherbe Caen                 SM Caen
 5         6                     En avant de Guingamp             EA Guingamp
 6         7                      Paris Football Club                Paris FC
 7         8    Association sportive de Saint-Étienne        AS Saint-Étienne
 8         9        Football Club Sochaux-Montbéliard  FC Sochaux-Montbéliard
 9        10                         Grenoble Foot 38        Grenoble Foot 38
 10       11  Union sportive Quevilly Rouen Métropole       US Quevilly-Rouen
 11       12                     Amiens Sporting Club               Amiens SC
 12       13                        Pau Football Club                  Pau FC
 13       14                   Rodez Aveyron Football                Rodez AF
 14       15    Stade lavallois Mayenne Football Club         Stade lavallois
 15       16               Valenciennes Football Club         Valenciennes FC
 16       17                   Football Club d'Annecy               FC Annecy
 17       18                 Dijon Football Côte-d'Or               Dijon FCO
 18       19                          Nîmes Olympique         Nîmes Olympique
 19       20           Chamois niortais Football Club     Chamois niortais FC

    points played win draw loss goalFor goalAgainst
 0      75     38  20   15    3      46          19
 1      72     38  20   12    6      61          33
 2      69     38  20    9    9      51          30
 3      60     38  17    9   12      52          45
 4      59     38  16   11   11      52          43
 5      55     38  15   10   13      51          46
 6      55     38  15   10   13      45          43
 7    53-3     38  15   11   12      63          57
 8      52     38  15    7   16      54          41
 9      51     38  14    9   15      33          36
 10     50     38  12   14   12      47          49
 11     47     38  13    8   17      40          52
 12     47     38  12   11   15      40          52
 13     46     38  11   13   14      41          44
 14     46     38  14    4   20      44          56
 15     45     38  10   15   13      42          49
 16     45     38  11   12   15      39          51
 17     42     38  10   12   16      38          43
 18     36     38  10    6   22      44          62
 19     29     38   7    8   23      35          67  ,
 (2022,
  'HOME'):    position                                 fullname               shortname  \
 0         1  Football Club des Girondins de Bordeaux   Girondins de Bordeaux
 1         2                   Le Havre Athletic Club             Le Havre AC
 2         3                      Stade Malherbe Caen                 SM Caen
 3         4                    Football Club de Metz                 FC Metz
 4         5                  Sporting Club de Bastia               SC Bastia
 5         6    Association sportive de Saint-Étienne        AS Saint-Étienne
 6         7                         Grenoble Foot 38        Grenoble Foot 38
 7         8        Football Club Sochaux-Montbéliard  FC Sochaux-Montbéliard
 8         9                   Football Club d'Annecy               FC Annecy
 9        10                          Nîmes Olympique         Nîmes Olympique
 10       11               Valenciennes Football Club         Valenciennes FC
 11       12    Stade lavallois Mayenne Football Club         Stade lavallois
 12       13                 Dijon Football Côte-d'Or               Dijon FCO
 13       14  Union sportive Quevilly Rouen Métropole       US Quevilly-Rouen
 14       15                      Paris Football Club                Paris FC
 15       16                     Amiens Sporting Club               Amiens SC
 16       17                     En avant de Guingamp             EA Guingamp
 17       18                        Pau Football Club                  Pau FC
 18       19                   Rodez Aveyron Football                Rodez AF
 19       20           Chamois niortais Football Club     Chamois niortais FC

    points played win draw loss goalFor goalAgainst
 0      40     19  12    4    3      28          12
 1      40     19  11    7    1      23           9
 2      39     19  11    6    2      33          17
 3      37     19  10    7    2      28          15
 4      37     19  11    4    4      26          15
 5      34     19  10    4    5      34          27
 6      32     19   9    5    5      19          16
 7      31     19   9    4    6      31          18
 8      31     19   9    4    6      18          18
 9      29     19   9    2    8      27          23
 10     29     19   6   11    2      27          23
 11     29     19   9    2    8      27          24
 12     28     19   7    7    5      21          17
 13     27     19   6    9    4      28          24
 14     27     19   8    3    8      24          22
 15     27     19   8    3    8      20          22
 16     25     19   7    4    8      26          24
 17     24     19   6    6    7      20          27
 18     19     19   4    7    8      18          27
 19     19     19   5    4   10      24          36  ,
 (2022,
  'AWAY'):    position                                 fullname               shortname  \
 0         1                    Football Club de Metz                 FC Metz
 1         2                   Le Havre Athletic Club             Le Havre AC
 2         3                     En avant de Guingamp             EA Guingamp
 3         4  Football Club des Girondins de Bordeaux   Girondins de Bordeaux
 4         5                      Paris Football Club                Paris FC
 5         6                   Rodez Aveyron Football                Rodez AF
 6         7                  Sporting Club de Bastia               SC Bastia
 7         8                        Pau Football Club                  Pau FC
 8         9  Union sportive Quevilly Rouen Métropole       US Quevilly-Rouen
 9        10        Football Club Sochaux-Montbéliard  FC Sochaux-Montbéliard
 10       11                      Stade Malherbe Caen                 SM Caen
 11       12                     Amiens Sporting Club               Amiens SC
 12       13    Association sportive de Saint-Étienne        AS Saint-Étienne
 13       14                         Grenoble Foot 38        Grenoble Foot 38
 14       15    Stade lavallois Mayenne Football Club         Stade lavallois
 15       16               Valenciennes Football Club         Valenciennes FC
 16       17                 Dijon Football Côte-d'Or               Dijon FCO
 17       18                   Football Club d'Annecy               FC Annecy
 18       19           Chamois niortais Football Club     Chamois niortais FC
 19       20                          Nîmes Olympique         Nîmes Olympique

    points played win draw loss goalFor goalAgainst
 0      35     19  10    5    4      33          18
 1      35     19   9    8    2      23          10
 2      30     19   8    6    5      25          22
 3      29     19   8    5    6      23          18
 4      28     19   7    7    5      21          21
 5      27     19   7    6    6      23          17
 6      23     19   6    5    8      26          30
 7      23     19   6    5    8      20          25
 8      23     19   6    5    8      19          25
 9      21     19   6    4    9      23          23
 10     20     19   5    5    9      19          26
 11     20     19   5    5    9      20          30
 12     19     19   5    7    7      29          30
 13     19     19   5    4   10      14          20
 14     17     19   5    2   12      17          32
 15     16     19   4    4   11      15          26
 16     14     19   3    5   11      17          26
 17     14     19   2    8    9      21          33
 18     10     19   2    4   13      11          31
 19      7     19   1    4   14      17          39  ,
 (2023,
  'TOTAL'):    position                                  fullname              shortname  \
 0         1     Association de la jeunesse auxerroise             AJ Auxerre
 1         2           Angers Sporting Club de l'Ouest             Angers SCO
 2         3     Association sportive de Saint-Étienne       AS Saint-Étienne
 3         4                    Rodez Aveyron Football               Rodez AF
 4         5                       Paris Football Club               Paris FC
 5         6                       Stade Malherbe Caen                SM Caen
 6         7     Stade lavallois Mayenne Football Club        Stade lavallois
 7         8                      Amiens Sporting Club              Amiens SC
 8         9                      En avant de Guingamp            EA Guingamp
 9        10                         Pau Football Club                 Pau FC
 10       11                          Grenoble Foot 38       Grenoble Foot 38
 11       12   Football Club des Girondins de Bordeaux  Girondins de Bordeaux
 12       13                   Sporting Club de Bastia              SC Bastia
 13       14                    Football Club d'Annecy              FC Annecy
 14       15                    Athletic Club ajaccien             AC Ajaccio
 15       16   Union sportive du littoral de Dunkerque          USL Dunkerque
 16       17  Espérance sportive Troyes Aube Champagne           ESTAC Troyes
 17       18   Union sportive Quevilly Rouen Métropole      US Quevilly Rouen
 18       19                Union sportive concarnoise          US Concarneau
 19       20                Valenciennes Football Club        Valenciennes FC

    points played win draw loss goalFor goalAgainst
 0      74     38  21   11    6      72          36
 1      68     38  20    8   10      56          42
 2      65     38  19    8   11      48          31
 3      60     38  16   12   10      62          51
 4      59     38  16   11   11      49          42
 5      58     38  17    7   14      51          45
 6      55     38  15   10   13      40          45
 7      53     38  12   17    9      36          36
 8      51     38  13   12   13      44          40
 9      51     38  13   12   13      60          57
 10     51     38  13   12   13      43          44
 11   50-1     38  14    9   15      50          52
 12   50-1     38  14    9   15      44          48
 13     46     38  12   10   16      49          50
 14     46     38  12   10   16      35          46
 15     46     38  12   10   16      36          52
 16     41     38   9   14   15      42          50
 17     38     38   7   17   14      51          55
 18     38     38  10    8   20      39          57
 19     29     38   6   11   21      26          54  ,
 (2023,
  'HOME'):    position                                  fullname              shortname  \
 0         1           Angers Sporting Club de l'Ouest             Angers SCO
 1         2     Association de la jeunesse auxerroise             AJ Auxerre
 2         3                    Rodez Aveyron Football               Rodez AF
 3         4                       Stade Malherbe Caen                SM Caen
 4         5                    Athletic Club ajaccien             AC Ajaccio
 5         6   Football Club des Girondins de Bordeaux  Girondins de Bordeaux
 6         7                       Paris Football Club               Paris FC
 7         8     Association sportive de Saint-Étienne       AS Saint-Étienne
 8         9                          Grenoble Foot 38       Grenoble Foot 38
 9        10                   Sporting Club de Bastia              SC Bastia
 10       11                         Pau Football Club                 Pau FC
 11       12  Espérance sportive Troyes Aube Champagne           ESTAC Troyes
 12       13                      Amiens Sporting Club              Amiens SC
 13       14     Stade lavallois Mayenne Football Club        Stade lavallois
 14       15                      En avant de Guingamp            EA Guingamp
 15       16                    Football Club d'Annecy              FC Annecy
 16       17                Union sportive concarnoise          US Concarneau
 17       18   Union sportive Quevilly Rouen Métropole      US Quevilly Rouen
 18       19                Valenciennes Football Club        Valenciennes FC
 19       20   Union sportive du littoral de Dunkerque          USL Dunkerque

    points played win draw loss goalFor goalAgainst
 0      43     19  13    4    2      31          15
 1      41     19  12    5    2      39          14
 2      36     19  10    6    3      35          22
 3      36     19  11    3    5      25          12
 4      36     19  10    6    3      26          14
 5      35     19  10    5    4      31          19
 6      34     19  10    4    5      29          19
 7      34     19  10    4    5      24          14
 8      28     19   7    7    5      23          21
 9      28     19   8    5    6      22          23
 10     27     19   7    7    5      32          27
 11     25     19   7    4    8      29          26
 12     25     19   5   10    4      17          16
 13     23     19   6    5    8      19          27
 14     22     19   5    7    7      24          21
 15     21     19   5    6    8      22          27
 16     20     19   5    5    9      23          31
 17     19     19   4    7    8      24          27
 18     18     19   4    6    9      15          24
 19     16     19   4    4   11      15          30  ,
 (2023,
  'AWAY'):    position                                  fullname              shortname  \
 0         1     Association de la jeunesse auxerroise             AJ Auxerre
 1         2     Stade lavallois Mayenne Football Club        Stade lavallois
 2         3     Association sportive de Saint-Étienne       AS Saint-Étienne
 3         4   Union sportive du littoral de Dunkerque          USL Dunkerque
 4         5                      En avant de Guingamp            EA Guingamp
 5         6                      Amiens Sporting Club              Amiens SC
 6         7                    Football Club d'Annecy              FC Annecy
 7         8           Angers Sporting Club de l'Ouest             Angers SCO
 8         9                       Paris Football Club               Paris FC
 9        10                         Pau Football Club                 Pau FC
 10       11                    Rodez Aveyron Football               Rodez AF
 11       12                          Grenoble Foot 38       Grenoble Foot 38
 12       13                   Sporting Club de Bastia              SC Bastia
 13       14                       Stade Malherbe Caen                SM Caen
 14       15   Union sportive Quevilly Rouen Métropole      US Quevilly Rouen
 15       16                Union sportive concarnoise          US Concarneau
 16       17  Espérance sportive Troyes Aube Champagne           ESTAC Troyes
 17       18   Football Club des Girondins de Bordeaux  Girondins de Bordeaux
 18       19                    Athletic Club ajaccien             AC Ajaccio
 19       20                Valenciennes Football Club        Valenciennes FC

    points played win draw loss goalFor goalAgainst
 0      33     19   9    6    4      33          22
 1      32     19   9    5    5      21          18
 2      31     19   9    4    6      24          17
 3      30     19   8    6    5      21          22
 4      29     19   8    5    6      20          19
 5      28     19   7    7    5      19          20
 6      25     19   7    4    8      27          23
 7      25     19   7    4    8      25          27
 8      25     19   6    7    6      20          23
 9      24     19   6    6    7      28          30
 10     24     19   6    6    7      27          29
 11     23     19   6    5    8      20          23
 12     22     19   6    4    9      22          25
 13     22     19   6    4    9      26          33
 14     19     19   3   10    6      27          28
 15     18     19   5    3   11      16          26
 16     16     19   2   10    7      14          24
 17     15     19   4    4   11      19          33
 18     10     19   2    4   13       9          32
 19      9     19   1    6   12      11          31  ,
 (2024,
  'TOTAL'):    position                                  fullname         shortname  \
 0         1                  Football Club de Lorient        FC Lorient
 1         2                       Paris Football Club          Paris FC
 2         3                     Football Club de Metz           FC Metz
 3         4   Union sportive du littoral de Dunkerque     USL Dunkerque
 4         5                      En avant de Guingamp       EA Guingamp
 5         6                    Football Club d'Annecy         FC Annecy
 6         7     Stade lavallois Mayenne Football Club   Stade lavallois
 7         8                          Grenoble Foot 38  Grenoble Foot 38
 8         9                   Sporting Club de Bastia         SC Bastia
 9        10                         Pau Football Club            Pau FC
 10       11                      Amiens Sporting Club         Amiens SC
 11       12  Espérance sportive Troyes Aube Champagne      ESTAC Troyes
 12       13                          Clermont Foot 63  Clermont Foot 63
 13       14                    Athletic Club ajaccien        AC Ajaccio
 14       15                    Rodez Aveyron Football          Rodez AF
 15       16                    Red Star Football Club       Red Star FC
 16       17                Football Club de Martigues      FC Martigues
 17       18                       Stade Malherbe Caen           SM Caen

    points played win draw loss goalFor goalAgainst
 0      46     22  14    4    4      39          21
 1      43     22  13    4    5      35          20
 2      41     22  11    8    3      34          16
 3      39     22  12    3    7      32          25
 4      38     22  12    2    8      38          25
 5      36     22  10    6    6      28          26
 6      34     22   9    7    6      31          21
 7      31     22   9    4    9      25          26
 8      30     22   6   12    4      26          20
 9      29     22   7    8    7      25          26
 10     29     22   8    2   11      23          31
 11     27     22   8    3   11      24          24
 12     24     22   6    6   10      20          27
 13     24     22   7    3   12      16          28
 14     23     22   6    5   11      33          38
 15     23     22   6    5   11      22          38
 16     18     22   5    3   14      15          39
 17     15     22   4    3   15      19          34  ,
 (2024,
  'HOME'):    position                                  fullname         shortname  \
 0         1                  Football Club de Lorient        FC Lorient
 1         2   Union sportive du littoral de Dunkerque     USL Dunkerque
 2         3                    Football Club d'Annecy         FC Annecy
 3         4                     Football Club de Metz           FC Metz
 4         5                         Pau Football Club            Pau FC
 5         6                      Amiens Sporting Club         Amiens SC
 6         7                      En avant de Guingamp       EA Guingamp
 7         8                          Grenoble Foot 38  Grenoble Foot 38
 8         9                       Paris Football Club          Paris FC
 9        10                   Sporting Club de Bastia         SC Bastia
 10       11                    Athletic Club ajaccien        AC Ajaccio
 11       12     Stade lavallois Mayenne Football Club   Stade lavallois
 12       13  Espérance sportive Troyes Aube Champagne      ESTAC Troyes

In [3]:
df_rankings_list_ligue1 = {}
for season in [2022,2023,2024]:
    with open(f'../data/competition/ligue1_{season}.json', 'r') as file:
        rankings_ligue1 = json.load(file)
        standings_ligue1 = rankings_ligue1['standings']
        df_rankings_list_ligue1[(season, 'HOME')] = pd.DataFrame(standings_ligue1[1]['table']).drop(columns=['form', 'goalDifference'])
        df_rankings_list_ligue1[(season, 'AWAY')] = pd.DataFrame(standings_ligue1[2]['table']).drop(columns=['form', 'goalDifference'])
        df_rankings_list_ligue1[(season, 'TOTAL')] = pd.DataFrame(standings_ligue1[0]['table']).drop(columns=['form', 'goalDifference'])

In [4]:
df_rankings_list_ligue1[(2023,'HOME')]

,position,team,playedGames,won,draw,lost,points,goalsFor,goalsAgainst
0,1,"{'id': 521, 'name': 'Lille OSC', 'shortName': ...",17,11,4,2,37,34,14
1,2,"{'id': 516, 'name': 'Olympique de Marseille', ...",17,10,6,1,36,31,13
2,3,"{'id': 524, 'name': 'Paris Saint-Germain FC', ...",17,9,6,2,33,42,22
3,4,"{'id': 548, 'name': 'AS Monaco FC', 'shortName...",17,10,3,4,33,30,14
4,5,"{'id': 512, 'name': 'Stade Brestois 29', 'shor...",17,8,7,2,31,25,14
5,6,"{'id': 522, 'name': 'OGC Nice', 'shortName': '...",17,9,4,4,31,21,11
6,7,"{'id': 546, 'name': 'Racing Club de Lens', 'sh...",17,9,4,4,31,27,18
7,8,"{'id': 547, 'name': 'Stade de Reims', 'shortNa...",17,8,3,6,27,19,18
8,9,"{'id': 529, 'name': 'Stade Rennais FC 1901', '...",17,7,4,6,25,34,26
9,10,"{'id': 523, 'name': 'Olympique Lyonnais', 'sho...",17,7,4,6,25,25,29
10,11,"{'id': 576, 'name': 'RC Strasbourg Alsace', 's...",17,7,3,7,24,22,23
11,12,"{'id': 533, 'name': 'Le Havre AC', 'shortName'...",17,6,2,9,20,18,19
12,13,"{'id': 518, 'name': 'Montpellier HSC', 'shortN...",17,3,9,5,18,20,23
13,14,"{'id': 525, 'name': 'FC Lorient', 'shortName':...",17,4,4,9,16,26,30
14,15,"{'id': 511, 'name': 'Toulouse FC', 'shortName'...",17,3,7,7,16,21,25
15,16,"{'id': 541, 'name': 'Clermont Foot 63', 'short...",17,3,5,9,14,14,27
16,17,"{'id': 545, 'name': 'FC Metz', 'shortName': 'F...",17,3,3,11,12,17,27
17,18,"{'id': 543, 'name': 'FC Nantes', 'shortName': ...",17,3,3,11,12,17,30

In [5]:
for key, df in df_rankings_list_ligue1.items():
    df['team'] = df['team'].apply(lambda x : dict(x)['shortName'])

In [6]:
df_rankings_list_ligue1[(2022,'HOME')]

,position,team,playedGames,won,draw,lost,points,goalsFor,goalsAgainst
0,1,RC Lens,19,17,1,1,52,41,13
1,2,Stade Rennais,19,15,0,4,45,43,14
2,3,Lille,19,13,4,2,43,40,25
3,4,PSG,19,13,2,4,41,45,25
4,5,Olympique Lyon,19,10,5,4,35,35,19
5,6,Marseille,19,10,4,5,34,35,24
6,7,Lorient,19,9,4,6,31,26,21
7,8,Stade de Reims,19,8,6,5,30,28,23
8,9,Monaco,19,9,3,7,30,37,33
9,10,Clermont Foot,19,9,3,7,30,20,28
10,11,Nice,19,7,7,5,28,24,18
11,12,Brest,19,7,5,7,26,24,26
12,13,Montpellier,19,7,3,9,24,29,29
13,14,Toulouse,19,6,6,7,24,27,27
14,15,Nantes,19,5,8,6,23,20,26
15,16,Strasbourg,19,5,7,7,22,25,26
16,17,Auxerre,19,5,7,7,22,18,28
17,18,AC Ajaccio,19,4,3,12,15,10,30
18,19,Troyes,19,1,11,7,14,19,30
19,20,Angers SCO,19,3,3,13,12,20,36

In [17]:
try:
    cnx = connector.connect(host='localhost',
                            database='football_predictor',
                            user=config['MYSQL_USER'],
                            password=config['MYSQL_PASSWORD'],
                            )
    if cnx.is_connected():
        print('Connecté à la base MySQL')
        cursor = cnx.cursor()
        # Chargement des données dans la base données SQL
        for season in range(2022, 2025):
            for ligue in ['Ligue 1', 'Ligue 2']:
                cursor.execute("INSERT INTO `League` (name, country, season) VALUES (%s,%s,%s)",
                               [ligue, 'France', season])
                
        for key, df in df_rankings_list_ligue1.items():
            cursor.execute("SELECT id FROM `League` WHERE season = %s AND name = %s;", [key[0], 'Ligue 1'])
            league_id = cursor.fetchone()
            for index, row in df.iterrows():
                cursor.execute("SELECT id FROM `Team` WHERE shortname = %s;", [row['team']])
                team_id = cursor.fetchone()
                if team_id is None:
                    search_similar = f"SELECT id FROM `Team` WHERE shortname LIKE '%{row['team']}%';"
                    cursor.execute(search_similar)
                    team_id = cursor.fetchone()
                add_ranking = ("INSERT INTO `Ranking` (team_id, league_id, type, position, points, played, goals_for, "
                               f"goals_against, won, draw, lost) VALUES ({team_id[0]}, {league_id[0]}, \"{key[1]}\", "
                               f"{row['position']}, {row['points']}, {row['playedGames']}, {row['goalsFor']}, "
                               f"{row['goalsAgainst']}, {row['won']}, {row['draw']}, {row['lost']})")
                cursor.execute(add_ranking)
        for key, df in df_rankings_list.items():
            cursor.execute("SELECT id FROM `League` WHERE season = %s AND name = %s;", [key[0], 'Ligue 2'])
            league_id = cursor.fetchone()
            for index, row in df.iterrows():
                cursor.execute("SELECT id FROM `Team` WHERE shortname = %s;", [row['shortname']])
                team_id = cursor.fetchone()
                if team_id is None:
                    if row['shortname'] == 'US Quevilly Rouen':
                        cursor.execute("SELECT id FROM `Team` WHERE shortname = %s;", ['US Quevilly-Rouen'])
                        team_id = cursor.fetchone()
                add_ranking = ("INSERT INTO `Ranking` (team_id, league_id, type, position, points, played, goals_for, "
                               f"goals_against, won, draw, lost) VALUES ({team_id[0]}, {league_id[0]}, \"{key[1]}\", "
                               f"{row['position']}, {row['points']}, {row['played']}, {row['goalFor']}, "
                               f"{row['goalAgainst']}, {row['win']}, {row['draw']}, {row['loss']})")
        cnx.commit()
except Error as e:
    cnx.close()
    print("Erreur lors de la connexion à la base MySQL :", e)
finally:
    if cnx.is_connected():
        cnx.close()
        print('Connexion à la base MySQL fermée')

Connecté à la base MySQL
Connexion à la base MySQL fermée

In [107]:
client = pymongo.MongoClient('localhost', 27017)
db = client["football_predictor"]
matches_collection = db["matches"]

In [108]:
matches_ligue2 = []
for i in range(2022, 2025):
    with open(f'../data/matches/matches_ligue2_{i}-{i+1}.json') as json_file:
        data = json.load(json_file)
        matches_ligue2.append(data)

In [109]:
DATE_FORMAT = "%A %d %B %Y"
for season in matches_ligue2:
    for matchday in season['season_matches']:
        for matches in matchday['matches']:
            matches['date'] = dt.datetime.strptime(matches['date'], DATE_FORMAT).strftime('%Y-%m-%d')

In [110]:
matches_mongo = []
for season in matches_ligue2:
    for matchday in season['season_matches']:
        for matches in matchday['matches']:
            matches_mongo.append({'league' : 'Ligue 2',
                                  'season' : season['season'],
                                  'matchday' : matchday['matchday'],
                                  'matches' : matches
                                 })

In [111]:
matches_collection.insert_many(matches_mongo)

InsertManyResult([ObjectId('67c5b27a49b164caafca4e24'), ObjectId('67c5b27a49b164caafca4e25'), ObjectId('67c5b27a49b164caafca4e26'), ObjectId('67c5b27a49b164caafca4e27'), ObjectId('67c5b27a49b164caafca4e28'), ObjectId('67c5b27a49b164caafca4e29'), ObjectId('67c5b27a49b164caafca4e2a'), ObjectId('67c5b27a49b164caafca4e2b'), ObjectId('67c5b27a49b164caafca4e2c'), ObjectId('67c5b27a49b164caafca4e2d'), ObjectId('67c5b27a49b164caafca4e2e'), ObjectId('67c5b27a49b164caafca4e2f'), ObjectId('67c5b27a49b164caafca4e30'), ObjectId('67c5b27a49b164caafca4e31'), ObjectId('67c5b27a49b164caafca4e32'), ObjectId('67c5b27a49b164caafca4e33'), ObjectId('67c5b27a49b164caafca4e34'), ObjectId('67c5b27a49b164caafca4e35'), ObjectId('67c5b27a49b164caafca4e36'), ObjectId('67c5b27a49b164caafca4e37'), ObjectId('67c5b27a49b164caafca4e38'), ObjectId('67c5b27a49b164caafca4e39'), ObjectId('67c5b27a49b164caafca4e3a'), ObjectId('67c5b27a49b164caafca4e3b'), ObjectId('67c5b27a49b164caafca4e3c'), ObjectId('67c5b27a49b164caafca4e3d'), ObjectId('67c5b27a49b164caafca4e3e'), ObjectId('67c5b27a49b164caafca4e3f'), ObjectId('67c5b27a49b164caafca4e40'), ObjectId('67c5b27a49b164caafca4e41'), ObjectId('67c5b27a49b164caafca4e42'), ObjectId('67c5b27a49b164caafca4e43'), ObjectId('67c5b27a49b164caafca4e44'), ObjectId('67c5b27a49b164caafca4e45'), ObjectId('67c5b27a49b164caafca4e46'), ObjectId('67c5b27a49b164caafca4e47'), ObjectId('67c5b27a49b164caafca4e48'), ObjectId('67c5b27a49b164caafca4e49'), ObjectId('67c5b27a49b164caafca4e4a'), ObjectId('67c5b27a49b164caafca4e4b'), ObjectId('67c5b27a49b164caafca4e4c'), ObjectId('67c5b27a49b164caafca4e4d'), ObjectId('67c5b27a49b164caafca4e4e'), ObjectId('67c5b27a49b164caafca4e4f'), ObjectId('67c5b27a49b164caafca4e50'), ObjectId('67c5b27a49b164caafca4e51'), ObjectId('67c5b27a49b164caafca4e52'), ObjectId('67c5b27a49b164caafca4e53'), ObjectId('67c5b27a49b164caafca4e54'), ObjectId('67c5b27a49b164caafca4e55'), ObjectId('67c5b27a49b164caafca4e56'), ObjectId('67c5b27a49b164caafca4e57'), ObjectId('67c5b27a49b164caafca4e58'), ObjectId('67c5b27a49b164caafca4e59'), ObjectId('67c5b27a49b164caafca4e5a'), ObjectId('67c5b27a49b164caafca4e5b'), ObjectId('67c5b27a49b164caafca4e5c'), ObjectId('67c5b27a49b164caafca4e5d'), ObjectId('67c5b27a49b164caafca4e5e'), ObjectId('67c5b27a49b164caafca4e5f'), ObjectId('67c5b27a49b164caafca4e60'), ObjectId('67c5b27a49b164caafca4e61'), ObjectId('67c5b27a49b164caafca4e62'), ObjectId('67c5b27a49b164caafca4e63'), ObjectId('67c5b27a49b164caafca4e64'), ObjectId('67c5b27a49b164caafca4e65'), ObjectId('67c5b27a49b164caafca4e66'), ObjectId('67c5b27a49b164caafca4e67'), ObjectId('67c5b27a49b164caafca4e68'), ObjectId('67c5b27a49b164caafca4e69'), ObjectId('67c5b27a49b164caafca4e6a'), ObjectId('67c5b27a49b164caafca4e6b'), ObjectId('67c5b27a49b164caafca4e6c'), ObjectId('67c5b27a49b164caafca4e6d'), ObjectId('67c5b27a49b164caafca4e6e'), ObjectId('67c5b27a49b164caafca4e6f'), ObjectId('67c5b27a49b164caafca4e70'), ObjectId('67c5b27a49b164caafca4e71'), ObjectId('67c5b27a49b164caafca4e72'), ObjectId('67c5b27a49b164caafca4e73'), ObjectId('67c5b27a49b164caafca4e74'), ObjectId('67c5b27a49b164caafca4e75'), ObjectId('67c5b27a49b164caafca4e76'), ObjectId('67c5b27a49b164caafca4e77'), ObjectId('67c5b27a49b164caafca4e78'), ObjectId('67c5b27a49b164caafca4e79'), ObjectId('67c5b27a49b164caafca4e7a'), ObjectId('67c5b27a49b164caafca4e7b'), ObjectId('67c5b27a49b164caafca4e7c'), ObjectId('67c5b27a49b164caafca4e7d'), ObjectId('67c5b27a49b164caafca4e7e'), ObjectId('67c5b27a49b164caafca4e7f'), ObjectId('67c5b27a49b164caafca4e80'), ObjectId('67c5b27a49b164caafca4e81'), ObjectId('67c5b27a49b164caafca4e82'), ObjectId('67c5b27a49b164caafca4e83'), ObjectId('67c5b27a49b164caafca4e84'), ObjectId('67c5b27a49b164caafca4e85'), ObjectId('67c5b27a49b164caafca4e86'), ObjectId('67c5b27a49b164caafca4e87'), ObjectId('67c5b27a49b164caafca4e88'), ObjectId('67c5b27a49b164caafca4e89'), ObjectId('67c5b27a49b164caafca4e8a'), ObjectId('67c5b27a49b164caafca4e8b'), ObjectId('67c5b27a49b164caafca4e8c'), ObjectId('67c5b27a49b164caafca4e8d'), ObjectId('67c5b27a49b164caafca4e8e'), ObjectId('67c5b27a49b164caafca4e8f'), ObjectId('67c5b27a49b164caafca4e90'), ObjectId('67c5b27a49b164caafca4e91'), ObjectId('67c5b27a49b164caafca4e92'), ObjectId('67c5b27a49b164caafca4e93'), ObjectId('67c5b27a49b164caafca4e94'), ObjectId('67c5b27a49b164caafca4e95'), ObjectId('67c5b27a49b164caafca4e96'), ObjectId('67c5b27a49b164caafca4e97'), ObjectId('67c5b27a49b164caafca4e98'), ObjectId('67c5b27a49b164caafca4e99'), ObjectId('67c5b27a49b164caafca4e9a'), ObjectId('67c5b27a49b164caafca4e9b'), ObjectId('67c5b27a49b164caafca4e9c'), ObjectId('67c5b27a49b164caafca4e9d'), ObjectId('67c5b27a49b164caafca4e9e'), ObjectId('67c5b27a49b164caafca4e9f'), ObjectId('67c5b27a49b164caafca4ea0'), ObjectId('67c5b27a49b164caafca4ea1'), ObjectId('67c5b27a49b164caafca4ea2'), ObjectId('67c5b27a49b164caafca4ea3'), ObjectId('67c5b27a49b164caafca4ea4'), ObjectId('67c5b27a49b164caafca4ea5'), ObjectId('67c5b27a49b164caafca4ea6'), ObjectId('67c5b27a49b164caafca4ea7'), ObjectId('67c5b27a49b164caafca4ea8'), ObjectId('67c5b27a49b164caafca4ea9'), ObjectId('67c5b27a49b164caafca4eaa'), ObjectId('67c5b27a49b164caafca4eab'), ObjectId('67c5b27a49b164caafca4eac'), ObjectId('67c5b27a49b164caafca4ead'), ObjectId('67c5b27a49b164caafca4eae'), ObjectId('67c5b27a49b164caafca4eaf'), ObjectId('67c5b27a49b164caafca4eb0'), ObjectId('67c5b27a49b164caafca4eb1'), ObjectId('67c5b27a49b164caafca4eb2'), ObjectId('67c5b27a49b164caafca4eb3'), ObjectId('67c5b27a49b164caafca4eb4'), ObjectId('67c5b27a49b164caafca4eb5'), ObjectId('67c5b27a49b164caafca4eb6'), ObjectId('67c5b27a49b164caafca4eb7'), ObjectId('67c5b27a49b164caafca4eb8'), ObjectId('67c5b27a49b164caafca4eb9'), ObjectId('67c5b27a49b164caafca4eba'), ObjectId('67c5b27a49b164caafca4ebb'), ObjectId('67c5b27a49b164caafca4ebc'), ObjectId('67c5b27a49b164caafca4ebd'), ObjectId('67c5b27a49b164caafca4ebe'), ObjectId('67c5b27a49b164caafca4ebf'), ObjectId('67c5b27a49b164caafca4ec0'), ObjectId('67c5b27a49b164caafca4ec1'), ObjectId('67c5b27a49b164caafca4ec2'), ObjectId('67c5b27a49b164caafca4ec3'), ObjectId('67c5b27a49b164caafca4ec4'), ObjectId('67c5b27a49b164caafca4ec5'), ObjectId('67c5b27a49b164caafca4ec6'), ObjectId('67c5b27a49b164caafca4ec7'), ObjectId('67c5b27a49b164caafca4ec8'), ObjectId('67c5b27a49b164caafca4ec9'), ObjectId('67c5b27a49b164caafca4eca'), ObjectId('67c5b27a49b164caafca4ecb'), ObjectId('67c5b27a49b164caafca4ecc'), ObjectId('67c5b27a49b164caafca4ecd'), ObjectId('67c5b27a49b164caafca4ece'), ObjectId('67c5b27a49b164caafca4ecf'), ObjectId('67c5b27a49b164caafca4ed0'), ObjectId('67c5b27a49b164caafca4ed1'), ObjectId('67c5b27a49b164caafca4ed2'), ObjectId('67c5b27a49b164caafca4ed3'), ObjectId('67c5b27a49b164caafca4ed4'), ObjectId('67c5b27a49b164caafca4ed5'), ObjectId('67c5b27a49b164caafca4ed6'), ObjectId('67c5b27a49b164caafca4ed7'), ObjectId('67c5b27a49b164caafca4ed8'), ObjectId('67c5b27a49b164caafca4ed9'), ObjectId('67c5b27a49b164caafca4eda'), ObjectId('67c5b27a49b164caafca4edb'), ObjectId('67c5b27a49b164caafca4edc'), ObjectId('67c5b27a49b164caafca4edd'), ObjectId('67c5b27a49b164caafca4ede'), ObjectId('67c5b27a49b164caafca4edf'), ObjectId('67c5b27a49b164caafca4ee0'), ObjectId('67c5b27a49b164caafca4ee1'), ObjectId('67c5b27a49b164caafca4ee2'), ObjectId('67c5b27a49b164caafca4ee3'), ObjectId('67c5b27a49b164caafca4ee4'), ObjectId('67c5b27a49b164caafca4ee5'), ObjectId('67c5b27a49b164caafca4ee6'), ObjectId('67c5b27a49b164caafca4ee7'), ObjectId('67c5b27a49b164caafca4ee8'), ObjectId('67c5b27a49b164caafca4ee9'), ObjectId('67c5b27a49b164caafca4eea'), ObjectId('67c5b27a49b164caafca4eeb'), ObjectId('67c5b27a49b164caafca4eec'), ObjectId('67c5b27a49b164caafca4eed'), ObjectId('67c5b27a49b164caafca4eee'), ObjectId('67c5b27a49b164caafca4eef'), ObjectId('67c5b27a49b164caafca4ef0'), ObjectId('67c5b27a49b164caafca4ef1'), ObjectId('67c5b27a49b164caafca4ef2'), ObjectId('67c5b27a49b164caafca4ef3'), ObjectId('67c5b27a49b164caafca4ef4'), ObjectId('67c5b27a49b164caafca4ef5'), ObjectId('67c5b27a49b164caafca4ef6'), ObjectId('67c5b27a49b164caafca4ef7'), ObjectId('67c5b27a49b164caafca4ef8')], acknowledged=True)

In [112]:
matches_ligue1 = []
for i in range(2022, 2025):
    matchnumber = 34
    if i == 2022:
        matchnumber = 38
    for j in range(matchnumber):
        with open(f'../data/matches/season-{i}_matches-{j+1}.json') as json_file:
            data = json.load(json_file)
            matches_ligue1.append(data)

In [113]:
matches_mongo = []
for matchday in matches_ligue1:
    matches_temp = []
    for match in matchday['matches']:
        matches_temp.append({ 'date' : match['utcDate'][:10],
                              'home_team' : match['homeTeam']['shortName'],
                              'away_team' : match['awayTeam']['shortName'],
                              'score_halftime' : match['score']['halfTime'],
                              'score' : match['score']['fullTime']})
    matches_mongo.append({ 'league' : matchday['competition']['name'],
                           'season' : f"{matchday['filters']['season']}-{int(matchday['filters']['season']+1)}",
                           'matchday' : int(matchday['filters']['matchday']),
                           'matches' : matches_temp})

In [114]:
matches_collection.insert_many(matches_mongo)

InsertManyResult([ObjectId('67c5b27d49b164caafca4ef9'), ObjectId('67c5b27d49b164caafca4efa'), ObjectId('67c5b27d49b164caafca4efb'), ObjectId('67c5b27d49b164caafca4efc'), ObjectId('67c5b27d49b164caafca4efd'), ObjectId('67c5b27d49b164caafca4efe'), ObjectId('67c5b27d49b164caafca4eff'), ObjectId('67c5b27d49b164caafca4f00'), ObjectId('67c5b27d49b164caafca4f01'), ObjectId('67c5b27d49b164caafca4f02'), ObjectId('67c5b27d49b164caafca4f03'), ObjectId('67c5b27d49b164caafca4f04'), ObjectId('67c5b27d49b164caafca4f05'), ObjectId('67c5b27d49b164caafca4f06'), ObjectId('67c5b27d49b164caafca4f07'), ObjectId('67c5b27d49b164caafca4f08'), ObjectId('67c5b27d49b164caafca4f09'), ObjectId('67c5b27d49b164caafca4f0a'), ObjectId('67c5b27d49b164caafca4f0b'), ObjectId('67c5b27d49b164caafca4f0c'), ObjectId('67c5b27d49b164caafca4f0d'), ObjectId('67c5b27d49b164caafca4f0e'), ObjectId('67c5b27d49b164caafca4f0f'), ObjectId('67c5b27d49b164caafca4f10'), ObjectId('67c5b27d49b164caafca4f11'), ObjectId('67c5b27d49b164caafca4f12'), ObjectId('67c5b27d49b164caafca4f13'), ObjectId('67c5b27d49b164caafca4f14'), ObjectId('67c5b27d49b164caafca4f15'), ObjectId('67c5b27d49b164caafca4f16'), ObjectId('67c5b27d49b164caafca4f17'), ObjectId('67c5b27d49b164caafca4f18'), ObjectId('67c5b27d49b164caafca4f19'), ObjectId('67c5b27d49b164caafca4f1a'), ObjectId('67c5b27d49b164caafca4f1b'), ObjectId('67c5b27d49b164caafca4f1c'), ObjectId('67c5b27d49b164caafca4f1d'), ObjectId('67c5b27d49b164caafca4f1e'), ObjectId('67c5b27d49b164caafca4f1f'), ObjectId('67c5b27d49b164caafca4f20'), ObjectId('67c5b27d49b164caafca4f21'), ObjectId('67c5b27d49b164caafca4f22'), ObjectId('67c5b27d49b164caafca4f23'), ObjectId('67c5b27d49b164caafca4f24'), ObjectId('67c5b27d49b164caafca4f25'), ObjectId('67c5b27d49b164caafca4f26'), ObjectId('67c5b27d49b164caafca4f27'), ObjectId('67c5b27d49b164caafca4f28'), ObjectId('67c5b27d49b164caafca4f29'), ObjectId('67c5b27d49b164caafca4f2a'), ObjectId('67c5b27d49b164caafca4f2b'), ObjectId('67c5b27d49b164caafca4f2c'), ObjectId('67c5b27d49b164caafca4f2d'), ObjectId('67c5b27d49b164caafca4f2e'), ObjectId('67c5b27d49b164caafca4f2f'), ObjectId('67c5b27d49b164caafca4f30'), ObjectId('67c5b27d49b164caafca4f31'), ObjectId('67c5b27d49b164caafca4f32'), ObjectId('67c5b27d49b164caafca4f33'), ObjectId('67c5b27d49b164caafca4f34'), ObjectId('67c5b27d49b164caafca4f35'), ObjectId('67c5b27d49b164caafca4f36'), ObjectId('67c5b27d49b164caafca4f37'), ObjectId('67c5b27d49b164caafca4f38'), ObjectId('67c5b27d49b164caafca4f39'), ObjectId('67c5b27d49b164caafca4f3a'), ObjectId('67c5b27d49b164caafca4f3b'), ObjectId('67c5b27d49b164caafca4f3c'), ObjectId('67c5b27d49b164caafca4f3d'), ObjectId('67c5b27d49b164caafca4f3e'), ObjectId('67c5b27d49b164caafca4f3f'), ObjectId('67c5b27d49b164caafca4f40'), ObjectId('67c5b27d49b164caafca4f41'), ObjectId('67c5b27d49b164caafca4f42'), ObjectId('67c5b27d49b164caafca4f43'), ObjectId('67c5b27d49b164caafca4f44'), ObjectId('67c5b27d49b164caafca4f45'), ObjectId('67c5b27d49b164caafca4f46'), ObjectId('67c5b27d49b164caafca4f47'), ObjectId('67c5b27d49b164caafca4f48'), ObjectId('67c5b27d49b164caafca4f49'), ObjectId('67c5b27d49b164caafca4f4a'), ObjectId('67c5b27d49b164caafca4f4b'), ObjectId('67c5b27d49b164caafca4f4c'), ObjectId('67c5b27d49b164caafca4f4d'), ObjectId('67c5b27d49b164caafca4f4e'), ObjectId('67c5b27d49b164caafca4f4f'), ObjectId('67c5b27d49b164caafca4f50'), ObjectId('67c5b27d49b164caafca4f51'), ObjectId('67c5b27d49b164caafca4f52'), ObjectId('67c5b27d49b164caafca4f53'), ObjectId('67c5b27d49b164caafca4f54'), ObjectId('67c5b27d49b164caafca4f55'), ObjectId('67c5b27d49b164caafca4f56'), ObjectId('67c5b27d49b164caafca4f57'), ObjectId('67c5b27d49b164caafca4f58'), ObjectId('67c5b27d49b164caafca4f59'), ObjectId('67c5b27d49b164caafca4f5a'), ObjectId('67c5b27d49b164caafca4f5b'), ObjectId('67c5b27d49b164caafca4f5c'), ObjectId('67c5b27d49b164caafca4f5d'), ObjectId('67c5b27d49b164caafca4f5e'), ObjectId('67c5b27d49b164caafca4f5f'), ObjectId('67c5b27d49b164caafca4f60'), ObjectId('67c5b27d49b164caafca4f61'), ObjectId('67c5b27d49b164caafca4f62')], acknowledged=True)

In [115]:
matchday_cursor = matches_collection.find({"league" : "Ligue 1"})

In [116]:
try:
    cnx = connector.connect(host='localhost',
                            database='football_predictor',
                            user=config['MYSQL_USER'],
                            password=config['MYSQL_PASSWORD'],
                            )
    if cnx.is_connected():
        print('Connecté à la base MySQL')
        cursor = cnx.cursor()
        # Chargement des données dans la base données SQL
        for matchday in matchday_cursor:
            i = 0
            for match in matchday['matches']:
                search_similar_home = f"SELECT id FROM Team WHERE shortname LIKE '%{match['home_team']}%'"
                cursor.execute(search_similar_home)
                home_team_id = cursor.fetchone()
                search_similar_away = f"SELECT id FROM Team WHERE shortname LIKE '%{match['away_team']}%'"
                cursor.execute(search_similar_away)
                away_team_id = cursor.fetchone()
                team_update = { '$set' : {
                                            f'matches.{i}' : {'date' : match['date'],
                                                              'home_team' : {'id' : int(home_team_id[0]), 'name' : match['home_team']},
                                                              'away_team' : {'id' : int(away_team_id[0]), 'name' : match['away_team']},
                                                              'score_halftime' : match['score_halftime'],
                                                              'score' : match['score']}
                                         }
                              }
                i += 1
                matches_collection.update_one({'_id' : matchday['_id']}, team_update)
    cnx.commit()
except Error as e:
    cnx.close()
    print("Erreur lors de la connexion à la base MySQL :", e)
finally:
    if cnx.is_connected():
        cnx.close()
        print('Connexion à la base MySQL fermée')

Connecté à la base MySQL
Connexion à la base MySQL fermée

In [117]:
matchday_cursor = matches_collection.find({"league" : "Ligue 2"})

In [118]:
try:
    cnx = connector.connect(host='localhost',
                            database='football_predictor',
                            user=config['MYSQL_USER'],
                            password=config['MYSQL_PASSWORD'],
                            )
    if cnx.is_connected():
        print('Connecté à la base MySQL')
        cursor = cnx.cursor()
        # Chargement des données dans la base données SQL
        for matchday in matchday_cursor:
            i = 0
            for match in matchday['matches']['results']:
                search_similar_home = f"SELECT id FROM Team WHERE shortname LIKE '%{match['home_team']}%'"
                cursor.execute(search_similar_home)
                home_team_id = cursor.fetchone()
                search_similar_away = f"SELECT id FROM Team WHERE shortname LIKE '%{match['away_team']}%'"
                cursor.execute(search_similar_away)
                away_team_id = cursor.fetchone()
                team_update = { '$set' : {
                                            f'matches.results.{i}' : {
                                                                'home_team' : {'id' : int(home_team_id[0]), 'name' : match['home_team']},
                                                                'score' : match['score'],
                                                                'away_team' : {'id' : int(away_team_id[0]), 'name' : match['away_team']}
                                                        }
                                        }
                            }
                i += 1
                matches_collection.update_one({'_id' : matchday['_id']}, team_update)
    cnx.commit()
except Error as e:
    cnx.close()
    print("Erreur lors de la connexion à la base MySQL :", e)
finally:
    if cnx.is_connected():
        cnx.close()
        print('Connexion à la base MySQL fermée')

Connecté à la base MySQL
Connexion à la base MySQL fermée